[2017-05-20 23:19] knorth55 commented on #2074
Good job!

[2017-05-20 23:19] #2074 closed

[2017-05-20 23:20] knorth55 opened #2110 "State Machine Controll"
Related to #2104

- use smach

[2017-05-22 15:08] pazeshun opened #2111 "Introduce gripper-v6 with pinching motion"
gripper-v5 + [flex sensor](https://www.switch-science.com/catalog/508/) + [proximity sensor](https://roboticmaterials.com/rm/product/single-sensor-evaluation-kit/) -> gripper-v6

[2017-05-22 15:09] pazeshun commented on #2036
Move to #2111

[2017-05-22 15:11] #2036 closed

[2017-05-22 15:18] pazeshun commented on #2111
@pazeshun
* ハードウェア全体を作る
  * [ ] 右手組み立て
  * [ ] 左手部品購入
  * [ ] 左手組み立て
* 曲げセンサを用いたピッキング動作を作る

[2017-05-22 15:20] pazeshun commented on #2111
@708yamaguchi
* 近接センサを扱う回路とファームウェアを作る
* Fetchで近接センサを使ってみて、gripper-v6でもできそうな手探り動作を調べる

[2017-05-23 01:51] YutoUchimi commented on #2106
@k-okada
Without `roslaunch jsk_arc2017_baxter baxter.launch` (i.e. on Kinematic Simulator), the problem reported above does not occur.
But when I ran `roslaunch jsk_arc2017_baxter baxter.launch` and then `roseus test-wait-interpolation.l`, it occured.
As soon as I ran `(test)` function, the messages shown below flew in baxter.launch terminal.
[code]

[2017-05-23 06:00] k-okada commented on #2106
please check if https://github.com/jsk-ros-pkg/jsk_roseus/pull/519 solves
your problem

--
◉ Kei Okada

2017-05-23 10:51 GMT+09:00 Yuto Uchimi <notifications@github.com>:

[2017-05-24 09:12] knorth55 commented on #2106
I checked it with gazebo simulator, but it does not solve the problem.
![test_wait_interpolation](https://cloud.githubusercontent.com/assets/9300063/26395637/a5ce585e-40ab-11e7-9fc2-68ea937e4436.png)

roseus debug: https://gist.github.com/knorth55/c8e76f8d5ce62877665259e790d25661

[2017-05-24 09:14] knorth55 commented on #2106
I tested with
[code]

[2017-05-25 02:44] knorth55 commented on #2106
[code]

[2017-05-25 04:18] k-okada opened #2114 "sheeta で roslaunch するとroslaunchプロセスが永遠にforkされて、プログラムが起動しない。"
嘘みたいな話ですが、sheeta で roslaunch するとroslaunchプロセスが永遠にforkされて、プログラムが起動しないです。

理由は多分、https://github.com/ros-infrastructure/catkin_pkg/issues/175 、でcatkin_pkgを0.3.1にまで戻すとなおります。
とりあえずの直し方としては、
[code]
でしょうか。pip便利。でも、後々トラブルにならないように、0.3.4がでたら忘れずに
[code]
しましょう。
uchimi@sheeta 以外では今のところ作業していません。

[2017-05-25 04:36] k-okada commented on #2114
環境の作り方

[code]
として、euslib/demo/uchimiに自作コードをいれておく、できればjsk_demosとかjsk_recognitionに入るようにするのが理想。https://github.com/jsk-ros-pkg/euslib/pull/279
[code]
自分で画像処理のプログラムを治したくなってきたら、
[code]
して、`catkin b` したら、いままで`~baxter/ros/indigo`のものを使っていたところが、`~/catkin_ws/src`のソースを使うようになる。

[2017-05-25 09:59] pazeshun commented on #2071
グリッパ側面につくカメラ固定台を設計して、発注しました

[2017-05-25 23:01] k-okada commented on #2114
https://github.com/ros-infrastructure/catkin_pkg/issues/176 でなおって 0.3.4 になったみたいです．
http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/p/python-catkin-pkg/ リリースもされていますね
[code]
で戻ると思います．

[2017-05-25 23:01] #2114 closed

[2017-05-26 01:27] k-okada commented on #2106
I had
[code]
error when run
`roslaunch jsk_2016_01_baxter_apc baxter_sim.launch`
what is you workspace configuration?

[code]

--
◉ Kei Okada

2017-05-25 11:44 GMT+09:00 Shingo Kitagawa <notifications@github.com>:

[2017-05-26 02:01] pazeshun commented on #2106
I wrote `_on_sea_joint_state` but I don't see that error in real robot.
I want to know the output of `rostopic echo /robot/limb/<right | left>/gravity_compensation_torques` in your environment.

[2017-05-26 02:50] #2034 closed

[2017-05-26 03:06] knorth55 commented on #2106
[code]
This error occurs when you use `baxter_interface` in `jsk_apc` branch.
It doesn't occur in `master` branch

[code]

[2017-05-26 03:13] pazeshun commented on #2106
Oh, does `baxter_sim.launch` not publish the same `/robot/limb/<right | left>/gravity_compensation_torques` as real robot?
Then https://github.com/RethinkRobotics/baxter_interface/pull/77 is bad PR....
I'll check.

[2017-05-26 03:30] knorth55 commented on #2106
[code]

[2017-05-26 03:47] pazeshun commented on #2106
`commanded_position` in `gravity_compensation_torques` is needed in RethinkRobotics/baxter_interface#77, but not set in the msg.
This is problem.
I'll check real robot immediately after rebooted.

[2017-05-26 03:52] pazeshun commented on #2106
In real robot immediately after rebooted:
[code]
`commanded_position` is set even if servo is off.
I think this is problem in baxter_simulator.

[2017-05-26 03:54] k-okada commented on #2106
the message is
[code]
I have confirmed we can pass test as
[code]
with following modification

[code]
https://github.com/start-jsk/jsk_apc/pull/2116,
https://github.com/jsk-ros-pkg/jsk_roseus/pull/519/commits/e77e5c7c39dddd8c533ecedd683d9ea5fc7421d4

[2017-05-26 03:55] knorth55 commented on #2106
https://github.com/RethinkRobotics/baxter_simulator/blob/master/baxter_sim_hardware/src/baxter_emulator.cpp

In `baxter_emulator.cpp`, `commanded` msgs are not setted.

[2017-05-26 03:59] pazeshun commented on #2114
[code]

[2017-05-26 03:59] k-okada commented on #2106
@knorth55 in https://github.com/start-jsk/jsk_apc/issues/2106#issuecomment-303665612
[code]
do you mean the roseus stops with error (https://github.com/jsk-ros-pkg/jsk_roseus/pull/519#issuecomment-303914148) or  `:wait-interpolation` do not returns.

in the former case, it should fixed with https://github.com/jsk-ros-pkg/jsk_roseus/pull/519/commits/e77e5c7c39dddd8c533ecedd683d9ea5fc7421d4, in the

[2017-05-26 04:12] knorth55 commented on #2106
@k-okada
I checked with your new commit https://github.com/jsk-ros-pkg/jsk_roseus/commit/e77e5c7c39dddd8c533ecedd683d9ea5fc7421d4, and `wait-interpolation` comes back with `baxter_simulator`

[code]

@pazeshun can you check test code with real robot if possible? https://gist.github.com/knorth55/1c7bdfa9004c5de0615c5e27c18ce000

[2017-05-26 04:48] pazeshun commented on #2106
`wait-interpolation` returned with real robot!
[code]

I checked with the following workspace with jsk-ros-pkg/jsk_roseus#519 branch:
[code]
I used latest master branch in `jsk_pr2eus`.

[2017-05-26 18:00] knorth55 commented on #2106
We need to wait new release of `roseus` or do not rotate head in the same time.

[2017-05-30 08:42] knorth55 commented on #2035
@pazeshun  この前話し合った内容を更新してもらえますか？

[2017-05-30 11:04] knorth55 commented on #2068
Solving in #2121

[2017-05-30 14:10] wkentaro commented on #2007
Please reopen if you need.

[2017-05-30 14:10] #2007 closed

[2017-05-30 14:10] wkentaro commented on #2061
Now it is fixed.

[2017-05-30 14:10] #2061 closed

[2017-05-30 14:10] #2062 closed

[2017-05-30 14:10] pazeshun commented on #2035
すみません、この前というと、人工知能学会前の話でしょうか？

[2017-05-30 14:12] wkentaro opened #2122 "Stereo with 2 astra mini cameras"

[2017-05-30 14:12] wkentaro commented on #2056
@708yamaguchi -> 近接センサ #2111
@YutoUchimi  -> Stereo + 3Dデータ・セット作成 https://github.com/start-jsk/jsk_apc/issues/2122

[2017-05-30 14:12] #2056 closed

[2017-05-30 14:13] wkentaro commented on #1886
Now this is tackled by @YutoUchimi at #2122

[2017-05-30 14:13] #1886 closed

[2017-05-30 14:18] wkentaro commented on #2106
Fixed via https://github.com/start-jsk/jsk_apc/pull/2097

[2017-05-30 14:18] #2106 closed

[2017-05-30 14:21] wkentaro commented on #2067
Moved to https://github.com/start-jsk/jsk_apc/issues/2068

[2017-05-30 14:21] #2067 closed

[2017-05-30 14:26] wkentaro commented on #2069
This won't be fixed.

[2017-05-30 14:26] #2069 closed

[2017-05-30 14:28] wkentaro commented on #2122
Moved to https://github.com/start-jsk/jsk_apc/issues/2029

[2017-05-30 14:28] #2122 closed

[2017-05-31 08:28] wkentaro opened #2123 "Scale (体重計) under the storage system"
DATASHEET: https://www.aandd.co.jp/adhome/pdf/manual/balance/ekew-i.pdf (

[2017-05-31 09:05] pazeshun commented on #2123
#2060 で試したのは、EK-3000iというものでした。
これは、3kgまで測れて、最小表示は0.1g単位というものです。

[2017-05-31 09:12] pazeshun commented on #2123
ARCのルールを見ると、各物体は最大2kgと書いてあります。
Stowでは20個、Pickでは32個の物品がstorageもしくはtoteに入るので、64kgまで測れれば絶対に大丈夫です。

[2017-05-31 09:13] pazeshun commented on #2123
@wkentaro によると、秤の分解能が10gだと見分けられない物品があり、1gの分解能があるといいみたいです。

[2017-05-31 09:32] wkentaro commented on #2123
[code]

[2017-05-31 10:11] pazeshun commented on #2123
EK-12Ki (https://www.monotaro.com/g/00005585/?t.q=EK-12Ki)を4個使うと測れそうです。
これだと、分解能も1gくらいなので、使えると思います。

他にも探してみます。

[2017-05-31 10:23] pazeshun commented on #2123
モノタロウだと
https://www.monotaro.com/s/c-122497/attr_f1452-10%81%6050kg%96%A2%96%9E/?sort=price
のようになっていて、
10kg以上測れてEK-12Kiより安い秤はEW-12Kiしかないみたいです。
EW-12Kiは分解能が5gくらいのようです。

[2017-05-31 10:59] pazeshun commented on #2123
すみません、電子天秤しか見てませんでした。
まだ探せそうです。

なお、EK-12Kを4個使うと、プラマイ1g x 4 = プラマイ4gの誤差が生じ得ます。

[2017-05-31 11:43] pazeshun commented on #2123
調べ方が悪いだけかもしれませんが、
・PCにつなげること
・分解能が1g以下であること
・測れる最大値が10kg以上であること
という条件に合致したものの中で、最も安いのがEK-12Kiな気がします。

測れる最大値の基準を引き下げると、EK-6100i (https://www.monotaro.com/g/00031562/?t.q=EK-6100i) というものがあります。
これは、測れる最大値が6kgで、分解能が0.1gです。
これを5個使うとすると、30kgまで測れる誤差プラマイ0.5gのシステムができ、新しい物品が重すぎなければ対応できます。

[2017-05-31 12:59] #2068 closed

[2017-06-02 13:26] knorth55 commented on #2110
I will try it on real robot.
![apc_smach](https://cloud.githubusercontent.com/assets/9300063/26727620/731bdc40-47e2-11e7-82b6-467d137460a0.png)

[2017-06-02 13:38] knorth55 commented on #2110
Updated:
![arc_state_machine](https://cloud.githubusercontent.com/assets/9300063/26728117/156a7456-47e4-11e7-96c9-4225fd8ef9c4.png)

[2017-06-02 21:41] wkentaro commented on #2029
FYI https://github.com/jsk-ros-pkg/jsk_recognition/pull/2104

![](https://cloud.githubusercontent.com/assets/4310419/26745216/7a5a496e-4824-11e7-9937-ed191f9de54d.png)

[2017-06-05 05:30] k-okada commented on #2110
nice.
one advantage of using smach is that support hierarchical state machine,
please check that.

--
◉ Kei Okada

2017-06-02 22:38 GMT+09:00 Shingo Kitagawa <notifications@github.com>:

[2017-06-05 17:23] knorth55 commented on #2110
I read hierarchical state machine.
http://wiki.ros.org/smach/Tutorials/Create%20a%20hierarchical%20state%20machine
Right arm and left arm process can be nested in one state machine, but the problem is that when right arm is picking a object, left arm have to wait and vice versa.
I'm not familiar with `smach` so I made `state_server.py` which check both arms states, and determine which arm can star

[2017-06-05 17:32] #2104 closed

[2017-06-06 13:08] pazeshun commented on #2123
秤が届く6/9くらいから作業します

[2017-06-06 17:54] knorth55 commented on #2043
Stow task env example.
![img_1677](https://user-images.githubusercontent.com/9300063/26843856-8e4b7d2a-4b2c-11e7-97f8-8eb99511ba1c.JPG)
![img_1678](https://user-images.githubusercontent.com/9300063/26843857-8e4dcc88-4b2c-11e7-91fa-b51e892d33f4.JPG)

[2017-06-07 13:46] pazeshun commented on #2111
今週中に、右腕にgripper-v6を着けた状態でpick_main.launchを動かせるように頑張ります

[2017-06-07 13:51] pazeshun commented on #2071
板金届きました。
@YutoUchimi gripper-v6の導入と同タイミングで右手のカメラをこのタイプのものに付け替えようと思っています。
その時に手伝ってくれると嬉しいです。

[2017-06-07 14:07] YutoUchimi commented on #2071
@pazeshun
了解です。よろしくお願いします。

[2017-06-07 14:48] knorth55 commented on #2071
あまり理解していないんだけど、このカメラがステレオになるわけではないんだよね？

[2017-06-07 14:49] knorth55 commented on #2071
それともカメラは全てこの位置に設置されることになる？
ステレオだと2つのカメラの間の物理的な距離が結構効いてくるから縦に連ねるとうまく見えない可能性もあります
試してみないとわからないけど

[2017-06-07 14:51] knorth55 commented on #2111
'This week' you mean until this Saturday?
I think it is too hard.
You should not be too rushed. Feel free to make an achievable goal for you.

[2017-06-07 15:22] pazeshun commented on #2071
ごめんなさい、明日カメラ固定台を装着した写真を撮って、貼ります

[2017-06-08 15:12] knorth55 commented on #2071
@pazeshun 急がないけど写真貼ってくれると嬉しいです

[2017-06-08 15:47] pazeshun commented on #2071
すみません、忘れてました。
明日とります

[2017-06-09 05:07] knorth55 commented on #2110
stow task state machine
![arc_stow_state_machine](https://user-images.githubusercontent.com/9300063/26961861-fa8641c2-4d1c-11e7-8064-d337b749c035.png)

[2017-06-09 08:41] YutoUchimi commented on #2029
## Quad vs Triple fusion

- Quad: stereo RGB-D + laser
- Triple: stereo RGB-D

**Quad**

![quad_fusion_20170609](https://user-images.githubusercontent.com/22876283/26967851-c6f81e02-4d3a-11e7-808b-84d75620a063.png)

**Triple**

![triple_fusion_20170609](https://user-images.githubusercontent.com/22876283/26967856-cd59050e-4d3a-11e7-90b9-34ec00d1f616.png)

[2017-06-09 08:44] YutoUchimi commented on #2029
@k-okada It seems that currently we don't have much improvements by using quad sensor fusion, though we have requirements of waiting laser scans for around 10 seconds.
We should firstly use triple fusion to collect data, and maybe I can try improving use of laser next week.

[2017-06-11 00:35] pazeshun opened #2139 ":fold-pose-back changes robot model in baxter-interface"
@knorth55
https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/euslisp/lib/baxter-interface.l#L161
で、実機の状態のコピーであるはずのモデルを変更したままにしているのと、`*baxter*`が変更されないのは、バグの元になるかも知れません。

[2017-06-11 00:36] pazeshun commented on #2139
このメソッドが必要なら、`*ti*`に移すのがいいかもしれないです

[2017-06-11 21:52] wkentaro commented on #2139
Closed via https://github.com/start-jsk/jsk_apc/pull/2140

[2017-06-11 21:52] #2139 closed

[2017-06-11 21:54] wkentaro commented on #2028
Stacking data augmentation worked better than expected,

<img src=https://user-images.githubusercontent.com/4310419/27014847-d6e557fa-4f3b-11e7-8372-2b78b8a12b82.png width=70% />

[2017-06-12 14:16] pazeshun opened #2143 "Sparkfunの新しい近接センサを使えるようにする"
@708yamaguchi
今日できなかったので、一旦保留にしましょう。
僕が進めるので、センサと回路のセットを貸してください

[2017-06-12 15:33] 708yamaguchi commented on #2143
あの後、何とか値が読めるようになりました。
明日5個一気に読めるようにしようと思っています。

[2017-06-13 03:01] #2110 closed

[2017-06-13 03:01] #2053 closed

[2017-06-13 09:32] knorth55 opened #2145 "MoveIt! support Baxter with gripper-v6"
Related to #2142

[2017-06-14 13:03] YutoUchimi commented on #2029
I collected raw data and put here:

https://drive.google.com/open?id=0B1waEZT19wijb3dMZXhhcnp3Szg

[2017-06-16 03:05] pazeshun commented on #2123
秤が来たので、少し試してみました。
<img src="https://user-images.githubusercontent.com/14994939/27210167-7757ccd4-528b-11e7-86d1-1a256d3a1e4e.JPG" height="550px"> <img src="https://user-images.githubusercontent.com/14994939/27210169-78eb08cc-528b-11e7-8e90-6d5868fb097e.JPG" height="550px">
物品姿勢に非依存な値が取れそうです

[2017-06-16 05:25] YutoUchimi commented on #2017
I took pictures of new racks.
- wooden rack
- metalic rack

Both 2 racks are almost the same height and depth, but metalic rack is a little wider.
If we drill holes in the wooden rack, we can adjust to the tilt of our preference.

![arc_new_shelf3](https://user-images.githubusercontent.com/22876283/27212491-71567bae-529b-11e7-9eca-b01487c38069.jpg)
![arc_new_shelf2](https://user-images.githubuserc

[2017-06-16 15:14] pazeshun commented on #2143
Closed via #2147

[2017-06-16 15:14] #2143 closed

[2017-06-17 06:45] pazeshun opened #2157 "KDTree error in stow task"
When I tested stow task with #2155 , I got the following error in `baxter.launch` after I launched `stow.launch`
[code]
This error continued until I killed `stow.launch`
But the robot performed recognition and picking well.

[2017-06-17 06:46] pazeshun opened #2158 "State machine suddenly stops in pick task"
In
https://drive.google.com/open?id=0BxxBA3J-CunGWkJiSS0xOWxWMzg
https://drive.google.com/open?id=0BxxBA3J-CunGR0kwdzJFTEZtY0U
https://drive.google.com/open?id=0BxxBA3J-CunGZ2JHSWVnVXhLcWM
,
motion suddenly stoped even when the robot didn't complete task.
Sorry, but I couldn't get log...

[2017-06-17 07:59] knorth55 commented on #2157
This error occurs when there is no pointcloud input.
This is because we use attention clipper.
When camera look inside tote, the error doesnt happen.
I think it is not a big problem.

[2017-06-17 09:02] pazeshun commented on #2157
I understand. Thanks!

[2017-06-17 09:02] #2157 closed

[2017-06-18 07:18] knorth55 commented on #2157
I think this PR https://github.com/jsk-ros-pkg/jsk_recognition/pull/2120 suppresses this error output.
We need to check with real robot.

[2017-06-19 09:45] #2029 closed

[2017-06-20 10:13] pazeshun opened #2161 "right hand and left hand collided in stow task"
[code]

[2017-06-20 14:35] pazeshun commented on #2161
The cause of this is that `return-from-pick-object` of right hand takes too long time for finger initialize motion.
I'll fix this.

[2017-06-21 07:39] wkentaro opened #2163 "[Listing] Capability of 3D Object Semantic Segmentation"
## 3D cloud insensible

- 24: mesh_cup

## 2D segmentation

- [x] 00: __background__
- [ ] 01: avery_binder
- [ ] 02: balloons
- [ ] 03: band_aid_tape
- [ ] 04: bath_sponge
- [ ] 05: black_fashion_gloves
- [ ] 06: burts_bees_baby_wipes
- [x] 07: colgate_toothbrush_4pk
- [x] 08: composition_book
- [x] 09: crayons
- [x] 10: duct_tape
- [x] 11: epsom_salts
- [ ] 12: expo_eraser
- [ ] 13: fiskars_scis

[2017-06-21 11:14] pazeshun commented on #2163
I'll add information while testing

[2017-06-21 11:19] #2145 closed

[2017-06-21 15:52] knorth55 commented on #2017
I made new shelf.
New shelf has two small bin and one large bin.
Center one is larger than others.

Center: 500*350*200
Right and Left: 500*300*200
(mm)

![img_1713](https://user-images.githubusercontent.com/9300063/27393588-ad7c4ee0-56e4-11e7-9565-be47d8379eda.JPG)
![img_1714](https://user-images.githubusercontent.com/9300063/27393587-ad69c1e4-56e4-11e7-923b-8ebc0391d8f2.JPG)
![img_1715](https://

[2017-06-22 02:50] pazeshun opened #2165 "proximity sensor board is caught by suction finger in pinching"

[2017-06-24 10:49] wkentaro opened #2172 "[Recognition] Richly annotated object segmentation dataset for ARC2017 known objects"
- [x] Collect raw data (@YutoUchimi) [link](https://drive.google.com/open?id=0B1waEZT19wijeVY5bk45TDdpbFU)
- [x] Implement Kinfu texture model generation (@wkentaro)
- [ ] Generated Kinfu texture model for 40 known objects
- [ ] Annotate Kinfu texture model for collected data

[2017-06-24 10:49] wkentaro commented on #2028
Moved to https://github.com/start-jsk/jsk_apc/issues/2172 for collection of more data.

[2017-06-24 10:49] #2028 closed

[2017-06-24 10:51] wkentaro opened #2173 "Capability of unknown 3d object segmentation"
- [x] Train with APC2016 objects as unknown objects.
- [x] Test with APC2015 objects as unknown objects.

[2017-06-24 14:43] pazeshun commented on #2161
The cause of this is the changes in #2160 and now fixed.

[2017-06-24 14:43] #2161 closed

[2017-06-26 12:43] knorth55 commented on #2017
The new shelf is done for 3.1.0 release, but it can be another change of shelves in the future.

[2017-06-26 12:46] knorth55 commented on #2163
## Test on Stow

![image](https://user-images.githubusercontent.com/9300063/27539749-a767e924-5ab8-11e7-933a-e56070f75e32.png)

The red tote is recognized as hanes socks, so please fix this @wkentaro . (commented by @wkentaro )

[2017-06-27 15:57] wkentaro commented on #2111
Right hand without pinching motion is done by 3.1.0

[2017-06-27 16:07] wkentaro commented on #2038
For me this is done with suction part of gripper by 3.1.0, please reopen or create new issue .

[2017-06-27 16:07] #2038 closed

[2017-06-27 16:07] wkentaro commented on #2043
For me this is done with suction part of gripper by 3.1.0, please reopen or create new issue .

[2017-06-27 16:07] #2043 closed

[2017-06-27 16:11] wkentaro opened #2177 "[Listing] Capability of Gripper to Grasp Objects"
**Spread Sheet**: https://drive.google.com/open?id=1v0OBgbFSV4aG7sSmQi4leB5lTJkE224dzth9n1y3LKo

![image](https://user-images.githubusercontent.com/4310419/28081484-6068812a-66aa-11e7-9630-cbca7aa41911.png)

## List (see spread sheet)

- 00: __background__
- [ ] 01: avery_binder
- [x] 02: balloons
- [ ] 03: band_aid_tape
- [x] 04: bath_sponge
- [x] 05: black_fashion_gloves
- [x] 06: burts_bees_bab

[2017-06-27 16:12] wkentaro commented on #2081
Please report in https://github.com/start-jsk/jsk_apc/issues/2177

[2017-06-27 16:12] #2081 closed

[2017-06-27 16:13] wkentaro commented on #2017
Please reopen if it is requested or required.

[2017-06-27 16:13] #2017 closed

[2017-06-27 16:14] wkentaro commented on #1718
Will be addressed by https://github.com/start-jsk/jsk_apc/issues/2111

Please fill the list at https://github.com/start-jsk/jsk_apc/issues/2177

[2017-06-27 16:14] #1718 closed

[2017-06-27 16:18] wkentaro commented on #1992
Moved to https://github.com/start-jsk/jsk_apc/issues/2163

[2017-06-27 16:18] #1992 closed

[2017-06-27 16:18] wkentaro commented on #2051
Moved to https://github.com/start-jsk/jsk_apc/issues/2177 and https://github.com/start-jsk/jsk_apc/issues/2163

[2017-06-27 16:18] #2051 closed

[2017-06-27 16:20] wkentaro commented on #2071
In my understanding, this will be resolved another way (external camera by @knorth55 ).
Please reopen if this is needed again.

[2017-06-27 16:20] #2071 closed

[2017-06-27 16:21] wkentaro commented on #2018
Maybe this is enough, and please summarize in https://github.com/start-jsk/jsk_apc/issues/2177 and https://github.com/start-jsk/jsk_apc/issues/2163, if you're ready.

[2017-06-27 16:21] #2018 closed

[2017-06-27 16:31] wkentaro opened #2178 "Stow task outputting final json"
This must be done before 3.1.0. @knorth55

[2017-06-27 16:37] #2123 closed

[2017-06-27 17:54] wkentaro commented on #2172
It seems this is too hard to complete before 3.1.0, so I rescheduled for 3.2.0. Let's finish it in this week. @YutoUchimi

[2017-06-28 00:01] pazeshun commented on #2177
What is gripper version?
It seems you tested with gripper-v4, so should I add gripper-v6 information?

[2017-06-28 01:36] 708yamaguchi opened #2180 "baxter.launchを起動するとグリッパの直動関節が伸びきって戻らない"

[2017-06-28 01:54] pazeshun commented on #2180
baxter.launchを起動した際に直動関節のキャリブ（直動関節が引き戻される）を行っているのですが、そのキャリブ中にbaxter.launchをCtrl-Cで落としてしまうと、サーボモータが車輪モードになってしまい、baxter.launchを起動しなおしても治らなくなってしまったようです。

確認方法は以下です。

baxter.launchを落とした状態で、
[code]

治し方は以下です。

baxter.launchを落とした状態で、
[code]

[2017-06-28 01:55] pazeshun commented on #2180
直動関節のキャリブをいつでもできるようにするようプログラムを変更しようと思っているので、その際に一緒に治したいです。
しばらくお待ちください

[2017-06-28 14:56] knorth55 commented on #2172
can you paste dataset links?

[2017-06-28 17:06] wkentaro commented on #2178
Closed via https://github.com/start-jsk/jsk_apc/pull/2179

[2017-06-28 17:06] #2178 closed

[2017-06-28 17:24] wkentaro commented on #2173
Currently, it is not possible to use this model in actual task because of its low accuracy:

MeanIU ~34

![iter00048000](https://user-images.githubusercontent.com/4310419/27651063-ff81d696-5c71-11e7-83ed-1816035b6052.jpg)

I will fix this before the 3.2.0

[2017-06-28 17:25] wkentaro opened #2181 "Clean install hoop PC"
It seems hoop does not work well recently. We can try clean install.

- [x] Buy SSD 2TB
- [x] USB extension cable x3
- ~~Install Z840~~ (we don't need this at current)

[2017-06-29 08:18] YutoUchimi opened #2182 "ZeroDivisionError occurs in gripper_v6_dxl_controller.launch"
[code]

[2017-06-29 08:36] YutoUchimi commented on #2182
When I reboot Baxter, this was fixed

[2017-06-29 08:36] #2182 closed

[2017-06-29 14:58] wkentaro opened #2185 "Visualize JSON file of item location"
- [x] Write object location to item_location_file.json @knorth55
- [x] Implement visualization script for item_location_file.json @wkentaro

[2017-06-29 15:00] wkentaro opened #2186 "Stereo RGB-D camrea on left hand"

[2017-06-29 15:01] wkentaro opened #2187 "[Recognition] Introduce in-hand recognition to task system"

[2017-06-29 15:06] pazeshun commented on #2182
When this happens, we have to fix motor mode like #2180

[2017-06-29 17:42] knorth55 commented on #2185
Write object location to item_location_file.json  -> #2188

[2017-06-30 01:36] YutoUchimi commented on #2172
dataset_jsk_v3 is here.
https://drive.google.com/open?id=0B1waEZT19wijeVY5bk45TDdpbFU

[2017-06-30 11:37] wkentaro opened #2193 "Documentation of json_saver.py"
like [visualize_json.py](http://jsk-apc.readthedocs.io/en/latest/jsk_arc2017_common/nodes/visualize_json.html)

[2017-06-30 11:39] wkentaro opened #2194 "Documentation of real world stow task execution usage"
<img width="342" alt="screen shot 2017-06-30 at 20 38 48" src="https://user-images.githubusercontent.com/4310419/27734062-328cfb70-5dd4-11e7-9a43-3c7c22def02b.png">

There is a section for pick, but nothing for stow.

[2017-06-30 11:40] wkentaro commented on #2181
SSD2TBを生協で注文しました。

[2017-06-30 11:51] knorth55 opened #2195 "MoveIt! planning doesn't seem well with right arm"
I have no idea, but MoveIt! planning result doesn't seem well with right arm.
It can be caused by prismatic joint.

[2017-06-30 11:53] knorth55 commented on #2195
I need to test real robot for more detailed check.

[2017-06-30 12:24] k-okada commented on #2195
Can we reproduce this problem without real robot? If so, I can debut during
this week end

2017年6月30日(金) 20:53 Shingo Kitagawa <notifications@github.com>:

--
--
◉ Kei Okada

[2017-06-30 12:34] knorth55 commented on #2195
I succeeded to put  robot in gazebo and run moveit in simulator with https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/launch/setup/baxter_sim.launch.
But I haven't made gazebo controller, so robot doesn't move in gazebo.

[2017-06-30 14:54] #2185 closed

[2017-06-30 14:56] #2193 closed

[2017-06-30 15:33] wkentaro commented on #2194
Closed via #2198

[2017-06-30 15:33] #2194 closed

[2017-06-30 17:47] knorth55 commented on #2195
I could not reproduce this problem in my workspace and @wkentaro 's workspace.
something is different in @708yamaguchi 's workspace.

[2017-07-01 15:30] wkentaro commented on #2172
@YutoUchimi Please notify me when you finish collecting mesh data for left objects?

- [x] 36 objects
- [ ] 4 objects (transparent, reflective)

[2017-07-02 05:34] 708yamaguchi opened #2202 "sheetaのyamaguchi userのmasterで作業した形跡がある"

[2017-07-02 05:37] 708yamaguchi commented on #2202
@knorth55
sheetaのyamaguchi userのjsk_apcのmasterブランチに以下のようなdiffがあったのですが、どうすればいいでしょうか。
[code]

[2017-07-02 08:56] knorth55 commented on #2202
その変更は消してもらって大丈夫です。
#2195 でも書いていますが山口くんの環境ではmoveit!周りの何かがおかしいのでmotion planningがあばれることがあります（ぼくと@wkentaroの環境等では普通に動いていたので原因不明）
注意して下さい

[2017-07-02 14:40] #2202 closed

[2017-07-03 06:35] wkentaro commented on #2195
Please reopen when it happens again.

[2017-07-03 06:35] #2195 closed

[2017-07-03 07:14] knorth55 commented on #2158
@pazeshun  Please reopen when it happens again.

[2017-07-03 07:14] #2158 closed

[2017-07-03 07:59] wkentaro commented on #2181
注文して届くのがあと3日くらいかかりそうなので、3.3に延期します。

[2017-07-03 12:29] wkentaro opened #2204 "Calibrate robot-eye extrinsic parameters of hand cameras to grasp objects"
## Work around

https://github.com/jsk-ros-pkg/jsk_control/pull/686

[2017-07-04 01:48] pazeshun commented on #2165
This is fixed

[2017-07-04 01:48] #2165 closed

[2017-07-04 02:01] pazeshun opened #2209 "Supporting structure of flex sensor is caught by suction finger in pinching"
This is similar problem as #2165 , but not fatal because this doesn't break fingers.
But I have to fix this as this prevents pinching small objects.
Fortunately, improved finger is already made, so I'll replace.

[2017-07-04 02:21] pazeshun opened #2210 "graspingp for pinching is difficult for small objects"
![dsc_1075](https://user-images.githubusercontent.com/14994939/27812514-6f34b648-60aa-11e7-98f2-b9cec600b744.JPG)
We can use scale system to detect grasping as well as finger load and finger angle

[2017-07-04 03:38] wkentaro commented on #2037
@yuyu2172 We're planning to release this at 3.2.0, so please try the in-hand recognition with @knorth55  today.

[2017-07-04 05:23] yuyu2172 commented on #2037
@wkentaro
OK

[2017-07-04 05:45] pazeshun opened #2211 "MoveIt path constraints for pinching"
Currently I have no idea about this.
If I have problem in #2203 , I'll report in details.

[2017-07-04 05:53] knorth55 commented on #2211
Can you explain more?

[2017-07-04 07:37] pazeshun opened #2212 "place-object and recognize-object almost collide in pick task"
段ボール箱がロボットの真正面にあるので、place-objectで伸びている腕の下側にrecognize-objectの腕が動こうとして、かすりました。

[2017-07-04 07:44] pazeshun commented on #2211
gripper-v6で挟み込み把持すると、吸着の時のように常に方向を固定できる座標系がなくなってしまうので、どうpathを拘束すればいいのか考えていましたが、拘束なしでやってみたところ、今のところ腕を振り回すことなく動いているので、とりあえず大丈夫です。

[2017-07-04 08:52] pazeshun commented on #2212
かするのが正常ということであれば、無視しようかと思います。

[2017-07-04 09:28] pazeshun opened #2213 "Gripper turns over in place object"
Please see first picking of https://drive.google.com/open?id=0BxxBA3J-CunGUnlLM0g2WjZFNVk

[2017-07-04 09:47] wkentaro commented on #2181
届きましたが、今日はリリースで時間がかかりそうなので、明日の午前中ということにしておきます。

[2017-07-04 09:51] 708yamaguchi commented on #2047
It depends on pinching motion of the gripper, so we postpone this issue to 3.3.0

[2017-07-04 09:54] 708yamaguchi commented on #2186
Closed via https://github.com/start-jsk/jsk_apc/pull/2197

[2017-07-04 09:54] #2186 closed

[2017-07-04 10:13] pazeshun commented on #2213
[code]
![screenshot from 2017-07-04 19 11 31](https://user-images.githubusercontent.com/14994939/27826067-b35dd1d2-60ec-11e7-978d-3783ccfeba19.png)
->
[code]
![screenshot from 2017-07-04 19 11 14](https://user-images.githubusercontent.com/14994939/27826079-c20fd2d4-60ec-11e7-8111-0160012aa21f.png)

[2017-07-04 10:15] pazeshun commented on #2213
Perhaps we should add `:additional-check` to cardboard IK

[2017-07-04 11:50] pazeshun commented on #2212
動かしてる回数が少なく、情報不足で変えるべきかどうか判断できません。
危険な場面に遭遇したら教えてください

[2017-07-04 12:07] pazeshun opened #2214 "Introduce gripper-v6 to left hand"
~~- [ ] Print additional fingers, finger bases and gears (1 day)~~
~~- [ ] Mold rubber to fingers (2 days)~~
- [x] Compose gripper (~2 days)
- [x] Buy hose and connect gripper and vacuum cleaner (~1 day)

I can do other jobs while printing and molding.

[2017-07-04 15:23] YutoUchimi commented on #2172
I added mesh data to google drive. (Sorry for not zipping...)
https://drive.google.com/open?id=0B1waEZT19wijMWFxU0NxelRhUjA

Mesh model of marbles is good, and poland_spring_water so-so.
But I could collect mesh model of wine_glass nor mesh_cup successfully, even though I used fused depth image. Probably we have to create eus-model or similar one of those objects.

[2017-07-04 15:32] YutoUchimi commented on #2172
Oh, I also added mesh models of balloons and bath_sponge. (link is shown above)
We can use them if we need.

[2017-07-04 15:52] wkentaro commented on #2173
Now I loosed the image augmentation and got accuracy ~55 MeanIU.

![](https://user-images.githubusercontent.com/4310419/27830129-ecc2d644-60ff-11e7-9416-63dab5d72b4a.jpg)

[2017-07-04 15:53] #2173 closed

[2017-07-04 18:51] knorth55 commented on #2187
![frame0004](https://user-images.githubusercontent.com/9300063/27840588-385a3b94-6135-11e7-9c25-5d8fe2a90871.jpg)

[2017-07-04 20:58] knorth55 commented on #2187
I finished to test and add `in_hand_recognition.launch`.
Now I move to implement in-hand recognition to  both task systems.

[2017-07-05 01:19] pazeshun commented on #2213
Fixed in #2216

[2017-07-05 03:22] pazeshun commented on #2209
I'll postpone this because #2214 has higher priority

[2017-07-05 03:24] pazeshun commented on #2209
- [ ] Print additional fingers (~1 day)
- [ ] Mold rubber to fingers (~2 days)

[2017-07-05 03:25] wkentaro opened #2219 "Calibrate baxter arm joints"
Possibly this causes error in grasping and segmentation.

[2017-07-05 03:28] pazeshun opened #2220 "Make additional fingers, finger bases and gears"
In case of breaking grippers
- [x] Print additional fingers, finger bases and gears (fix magnet fitting)
- Mold rubber to fingers
  - [x] Vytaflex
  - [x] Sylgard
- [x] Print additional other parts
- [ ] Compose additional robot palm (x2)

[2017-07-05 03:47] pazeshun commented on #2219
http://sdk.rethinkrobotics.com/wiki/Arm_Calibration
I think this calibrates torque sensor and spring, not joint states.
So I'm not sure this will solve issue.

However, calibration should be done, I think.

[2017-07-05 04:25] pazeshun commented on #2212
動画を見たら、危険なぶつかり方をしていたので、 #2203 で直します

[2017-07-05 08:04] knorth55 commented on #2219
First, let's do this calibration in this week.

[2017-07-05 08:04] pazeshun commented on #2211
やっぱり、腕を振り回してしまいました。

[2017-07-05 14:03] k-okada commented on #2211
振り回した時の
- プランナ rrt? birrt? rrt* ?
- コンストレイント
をメモっておいてくれると嬉しいです．また、初期姿勢、目標がわかって、再現できるといいんだけど．

--
◉ Kei Okada

2017-07-05 17:04 GMT+09:00 Shun Hasegawa <notifications@github.com>:

[2017-07-05 14:27] knorth55 commented on #2211
plannerはRRTです
constraints1は特に何も指定していないです。
path-constraintsのorientation-constraintsをうまく設定しなければならないはずです。
物をもったあとできるだけ物体の姿勢を変更せずに運搬することが目的です

[2017-07-05 18:41] wkentaro commented on #2111
Closed via https://github.com/start-jsk/jsk_apc/pull/2203

[2017-07-05 18:41] #2111 closed

[2017-07-05 18:42] wkentaro commented on #2037
It seems that we cannot make it before 3.2.0, so I postpone this part to 3.3.0.

[2017-07-05 18:43] wkentaro commented on #2172
Due to mis-calibration of baxter or camera, it is difficult to use current raw data, so I need to postpone this issue to 3.3.0.
This is addressed by https://github.com/start-jsk/jsk_apc/pull/2217.

[2017-07-05 18:51] wkentaro commented on #2212
Closed via https://github.com/start-jsk/jsk_apc/pull/2203

[2017-07-05 18:51] #2212 closed

[2017-07-05 18:52] wkentaro commented on #2213
Can I close this? Or you postpone this to 3.3.0?

[2017-07-05 18:54] wkentaro commented on #2035
We have finished all critical tasks at 3.2.
Now we move forward to improvement of the hardware, calibration and recognition algorithms.

[2017-07-05 18:54] #2035 closed

[2017-07-05 20:02] wkentaro commented on #2213
Please reopen unless it is fixed.

[2017-07-05 20:02] #2213 closed

[2017-07-05 23:13] pazeshun commented on #2213
Sorry. This is fixed in #2203

[2017-07-06 08:16] pazeshun opened #2223 "When there is no object in tote, node dies in stow task"
[code]

[2017-07-06 12:57] wkentaro commented on #2181
終わりました。stow.launchでテストしました。

[2017-07-06 12:57] #2181 closed

[2017-07-07 02:04] knorth55 commented on #2223
Closed via #2231

[2017-07-07 02:04] #2223 closed

[2017-07-07 23:23] pazeshun commented on #2219
Done

[2017-07-07 23:23] #2219 closed

[2017-07-08 14:40] pazeshun commented on #2047
Closed via #2235

[2017-07-09 13:23] knorth55 commented on #2211
we can solve path with `right_gripper_palm_endpoint`, but it requires 50 seconds to execute.

[2017-07-09 13:41] pazeshun commented on #2047
#2241

[2017-07-09 15:13] wkentaro opened #2243 "Calibrate color-depth extrinsic parameters of hand cameras"
https://github.com/start-jsk/jsk_apc/tree/calibrate_camera_extrinsic_params

[2017-07-09 15:14] wkentaro commented on #2204
Possibly this calibration is not needed, but
@knorth55 will do workaround for this tomorrow to make it possible to grasp objects.

[2017-07-09 17:22] #2243 closed

[2017-07-10 07:41] knorth55 opened #2248 "[Schedule] Baxter Time Schedule"
Operating time of Baxter is now scheduled on google drive.
Please write down when you want to use.
Max time in line is 2 hours.

https://docs.google.com/a/jsk.imi.i.u-tokyo.ac.jp/spreadsheets/d/17eQm1whC2TqTE-SV5MjmI9mvu4RZxl6Asi1RbWL0rNQ/edit?usp=sharing

[2017-07-10 16:16] knorth55 commented on #2248
明日の16時から18時で予約しました

[2017-07-11 02:07] pazeshun commented on #2248
今日の18時から20時まで予約しました。

この時に、
・左手を新グリッパに換装
・右手の曲げセンサの修理
を行う予定です。
左手が旧グリッパの方が都合がいい作業が残ってる場合は、教えてくれれば換装を延期します。

[2017-07-11 09:32] knorth55 commented on #2211
I add FIXME and disable moveit in placing motion. #2251

[2017-07-11 10:51] knorth55 commented on #2187
@wkentaro @yuyu2172 we need to discuss more whether we need in-hand recognition.

[2017-07-11 14:00] knorth55 commented on #2177
@pazeshun 's work
https://github.com/start-jsk/jsk_apc/issues/2018#issuecomment-294795224

[2017-07-11 14:23] pazeshun commented on #2210
I'll postpone this

[2017-07-11 14:24] pazeshun commented on #2047
Closed via #2246

[2017-07-11 14:24] #2047 closed

[2017-07-11 14:26] pazeshun opened #2255 "右手右指の曲げセンサの値が不安定"
接触不良が原因だと考えられる
要修理

[2017-07-11 15:03] pazeshun opened #2256 "左手の指が壊れやすい"
左手の指と掌の磁石をはめ込み＋接着剤固定にしたら、磁石固定が外れる前に指が壊れてしまいました。
とりあえず接着剤で応急処置し、
#2220 の後に部品交換を行います。

[2017-07-11 15:05] pazeshun commented on #2256
gripper-v6では、指の台座と掌にそれぞれはめ込まれた磁石が引き合うことで、指が掌に固定されています。
指に無理な外力が加わった際、磁石による固定が外れることで、指の破壊を防ぐ目的です。

しかし、右手では、磁石固定が外れる前に、掌にはめ込まれた磁石が掌から抜けてしまっていました。
はめあいが緩かったのだろうと思われます。
この場合、タスク中にだんだん抜けていって、指の位置がおかしくなることもありました。

そこで、左手では、接着剤も使ってみた所、磁石が外れることがなくなった代わりに、上記のような問題がおきました。

[2017-07-11 15:07] pazeshun commented on #2256
磁石が抜ける力 < 指(Projet製)が壊れる力 < 磁石固定が外れる力
となっているので、 #2220 では接着剤固定は使用しないこととします。

[2017-07-11 15:08] 708yamaguchi commented on #2177
全物品をpinchした動画と、suctionとpinchの難しさの表を
https://drive.google.com/open?id=0B-oafUKuYgn_MFNqeUFtenlHN28
に置きました。
1が簡単で3が難しいです。
suctionのデータは
https://github.com/start-jsk/jsk_apc/issues/2018#issuecomment-294795224
のままです。

[2017-07-11 15:42] knorth55 commented on #2177
I made a new dir and put a spreadsheet.
https://drive.google.com/open?id=0B5DV6gwLHtyJZVNVNGpDTjRrMUU
https://drive.google.com/open?id=1v0OBgbFSV4aG7sSmQi4leB5lTJkE224dzth9n1y3LKo

[2017-07-11 15:46] 708yamaguchi commented on #2177
ありがとうございます！

[2017-07-11 17:17] knorth55 commented on #2177
@708yamaguchi can you make a PR to put euslisp code for this test?

[2017-07-11 17:19] knorth55 commented on #2177
NOT DONE: suction test for Wine glass and Windex

[2017-07-12 00:49] pazeshun opened #2258 "How to grasp difficult object"

[2017-07-12 00:51] pazeshun commented on #2258
- composition_book
#2238

[2017-07-12 01:16] pazeshun commented on #2248
今から12時までBaxter使います

[2017-07-12 01:35] wkentaro commented on #2248
その後使います。

[2017-07-12 03:09] wkentaro opened #2260 "[SEP] System Enhancement Proposals"
- [x] 0-1 Calibration of hand-eye coordination. (@wkentaro)
- [x] 0-2 Speed-up picking and placing. (@knorth55)
- [x] 1-1 Dynamic work-order according to the recognition result. (@knorth55 )
    - Currently we use static work order published by `work_order_server.py`, but it is better if robot changes target object dynamically according to the status of scene where objects are located.
    - ~~Aft

[2017-07-12 05:15] yuyu2172 commented on #2187
@knorth55  @wkentaro

I extended the model for in hand recognition to work for detection.

https://github.com/yuyu2172/arc/blob/master/notebooks/FewShotDetection.ipynb

This model takes an image as input and returns bbox, labels and scores.

[2017-07-12 11:44] #2214 closed

[2017-07-12 16:47] knorth55 commented on #2163
I did a brief test.
https://drive.google.com/open?id=0B5DV6gwLHtyJaUVEbmhjMlIzaXc

[2017-07-13 03:20] #2204 closed

[2017-07-13 03:58] wkentaro commented on #2211
Please reopen when you need this again.

[2017-07-13 03:58] #2211 closed

[2017-07-13 04:55] wkentaro opened #2267 "[Experiments] Practice of pick and stow tasks"
Please write log here: https://docs.google.com/spreadsheets/d/1MVjJlFlvHsXIW0C9Mh_SUZBw8WnAELIL9FNWofNd5N8/edit#gid=0, and put data files to link on the data sheet.
It looks like below:
![image](https://user-images.githubusercontent.com/4310419/28150992-f5f48102-67d2-11e7-90d2-6fb4ce8f15e1.png)

[2017-07-13 05:48] YutoUchimi opened #2268 "掃除機のホースがshelfに当たって体重計の値が変わる"

[2017-07-13 05:52] YutoUchimi opened #2269 "Raise error in scale reading node when serial reading is blocked"

[2017-07-13 06:55] knorth55 commented on #2267
@708yamaguchi @YutoUchimi
Please generate new JSON and try different environment!
https://github.com/start-jsk/jsk_apc/pull/2270

[2017-07-13 08:00] pazeshun commented on #2268
右手の掃除機のホースがよく当たっていたので、掃除機の取っ手を荷造り紐でBaxterに括り付けることで当たらなくしました。
また問題が発生したら、もう一度開いてください

[2017-07-13 08:00] #2268 closed

[2017-07-13 11:41] pazeshun commented on #2255
終わりました。

[2017-07-13 11:41] #2255 closed

[2017-07-14 02:33] pazeshun opened #2280 "ギア飛びが頻発している"
グリッパを物体に押し付けすぎている。
`:cancel-angle-vector`はされているが、Baxterの動きが速すぎるのか、うまく腕を止められていないように見える。
より正確な現状の把握が必要。

[2017-07-14 06:06] pazeshun commented on #2280
左手が非常にギア飛びしやすかったのは、ねじが緩んでいたのが原因だったので、締め直しました。
しかし、右手でも飛んでいたので、原因を探ります。

[2017-07-14 06:57] wkentaro opened #2281 "Test fails on Travis because of sudo pip install -U gdown"
Maybe pip is too old?

[code]

[2017-07-14 08:12] #2269 closed

[2017-07-14 13:17] #2281 closed

[2017-07-14 19:08] wkentaro opened #2290 "The gripper occludes objects at overlook-pose"
<img src=https://user-images.githubusercontent.com/4310419/28227091-7629f398-6913-11e7-9750-e71ffcb97e9a.jpg width=50%><img src=https://user-images.githubusercontent.com/4310419/28227092-762b2ad8-6913-11e7-9a4b-6f47c2f4e260.jpg width=50%>

without gripper:

<img src="https://user-images.githubusercontent.com/4310419/28226972-fbc8546e-6912-11e7-9970-e0cbd0748fa8.jpg" width=50%><img src=https://user

[2017-07-14 19:28] wkentaro commented on #2172
I found current slam-algorithm or camera-calibration is not applicable for this application, and changed the milestone to untargetted.
See below for detailed results:
- Multi-view dataset: https://github.com/start-jsk/jsk_apc/pull/2273
- Slam by Kinfu: https://github.com/start-jsk/jsk_apc/pull/2288

[2017-07-14 23:44] pazeshun commented on #2290
これは、カメラ位置を上方向にずらせば解決する問題でしょうか。
もしそうなら、ずらせないことはないので、どれくらいずらせばいいのか教えてください

[2017-07-15 02:02] pazeshun commented on #2290
https://github.com/start-jsk/jsk_apc/issues/1929#issuecomment-262912958 と比較すると、Astra Sの時より見えてない気がしました。
そこで、カメラ固定台を比較して見たところ、Astra Sのものより高さが低くなってしまっていることが判明しました。
![dsc_1082](https://user-images.githubusercontent.com/14994939/28235619-a9d12f66-694c-11e7-9ed1-69d9d4a0c11c.JPG)
アルミ板を追加して、高さを上げることを試みます。

(メモ)カメラを40mm上に上げると、去年の状態以上の視野を確保できそうだが、剛性、重量など心配

[2017-07-15 02:30] pazeshun commented on #2210
This is done with #2277
Currently, graspingp for pinching is ignored in all cases, so we can avoid this issue.
Please reopen this when we need graspingp for pinching again.

[2017-07-15 02:30] #2210 closed

[2017-07-15 09:02] pazeshun commented on #2290
追加部品を作りました。
明日、Baxterを誰も使っていないときに試してみます。

[2017-07-16 02:32] pazeshun commented on #2290
![screenshot from 2017-07-16 11 28 36](https://user-images.githubusercontent.com/14994939/28244048-54b5a0ba-6a1a-11e7-976d-8c1a02d0bb64.png)

[2017-07-16 03:42] pazeshun commented on #2256
こちらですが、 とりあえず壊れたら交換することにしておいて、余裕があれば壊れる前に交換します。

[2017-07-16 06:00] wkentaro commented on #2290
これで大丈夫じゃないでしょうか。
いちど、overlook-poseのoffsetを変えてみて、結果を貼ってもらえますか。

[2017-07-17 02:28] 708yamaguchi commented on #2248
11:30~12:30
使います

[2017-07-17 02:29] pazeshun commented on #2248
その後、13:00~15:00まで使います

[2017-07-17 05:50] 708yamaguchi commented on #2248
15:00~16:30
使います

[2017-07-17 10:58] pazeshun commented on #2280
こちらですが、baxterとsheetaの時刻ずれで、`(send *ri* :update-robot-state :wait-until-update t)`に時間がかかっていたのが原因でした。
[code]
[code]
Baxterもsheetaも再起動すると、
[code]
[code]
となり、おそらく治りました。

[2017-07-17 12:05] pazeshun commented on #2280
何か問題あればreopenしてください

[2017-07-17 13:29] 708yamaguchi commented on #2177
suction and pinchでいくつかの物品を掴んでみました。
https://drive.google.com/open?id=0B-oafUKuYgn_YWVWQzlfcE15U2M

composition bookやrobots everywhereは端を掴むと安定して把持できました。
avery binderも、開く側を掴むと把持できました。

[2017-07-18 04:25] wkentaro opened #2305 "Calibrate extrinsic parameters of right hand camera"

[2017-07-18 04:59] knorth55 commented on #2305
#2295 and #2298 are not perfect.

[2017-07-18 05:38] pazeshun opened #2306 "Stabilize flex sensor"
曲げセンサのセンサ生値にはすれ値が混ざっているので、フィルタかけます

[2017-07-18 08:48] 708yamaguchi commented on #2177
graspabilityの欄に、grasp methodという列を追加しました。
各物品に対してどの把持方法が最も掴みやすそうか書いています。
これからも更新していく予定です。

[2017-07-18 08:58] knorth55 commented on #2177
can you try these two suction test and fill the list?
and also can you list up grasp method which can never grasp the object?

[2017-07-18 09:41] pazeshun commented on #2290
左手のカメラ位置も上げました。
次にやるべきことは、左手のカメラの外部パラメータキャリブと、overlook-poseのoffset変更です。

[2017-07-18 10:43] pazeshun commented on #2306
現状（静止状態）
![screenshot from 2017-07-18 19 42 24](https://user-images.githubusercontent.com/14994939/28313301-56b3565e-6bf1-11e7-8d9e-e60c4e7e1cab.png)

[2017-07-18 13:14] pazeshun commented on #2306
こちらですが、sheetaのUSBバスパワーが不安定になっていることが原因な気もしてきたので、明日調べてみます

[2017-07-19 03:48] pazeshun commented on #2306
USB電源を外部にしてみてもダメでしたが、近接センサを抜いてみたところ、以下のようなログを得ました。
![screenshot from 2017-07-19 12 42 39](https://user-images.githubusercontent.com/14994939/28349807-fa23c7fe-6c7f-11e7-822f-88357c4a23df.png)
近接センサでLEDを発光させた際に、Arduinoの電源ラインの電圧が不安定になっているものと思われます。

[2017-07-19 04:55] pazeshun commented on #2306
LEDの使用電流を最低値の50mAに設定し、LEDのパルス発光のDuty比を最低の1/320に設定したところ、以下のようになりました。だいぶ改善しましたが、運が悪いとノイズが出ます。
![screenshot from 2017-07-19 13 52 23](https://user-images.githubusercontent.com/14994939/28351279-c2fbb1e2-6c89-11e7-8616-9fb70ecf5fe4.png)
コンデンサ入れてみます

[2017-07-19 05:31] 708yamaguchi commented on #2248
15:00~17:00
使います

[2017-07-19 08:32] pazeshun commented on #2306
#2317 で治ったと思います。
firmwareはすでに書き込んであります。

[2017-07-19 14:00] pazeshun commented on #2280
左手でギア飛びします。
タイミングベルトの張りが弱そうなので、強くしてみます。

[2017-07-19 15:51] #2306 closed

[2017-07-20 03:27] pazeshun opened #2328 ":wait-interpolation-until of larm doesn't work"
- Directions of load and velocity from dynamixel motors are bad -> #2329
- https://github.com/start-jsk/jsk_apc/issues/2280#issuecomment-316396728

[2017-07-20 06:16] pazeshun commented on #2280
左手のタイミングベルトの張りを調節して、ギア飛びしにくくなりました。
#2329 を使うことで、ギア飛びしなくなると思います。

[2017-07-20 10:20] #2280 closed

[2017-07-20 10:20] #2328 closed

[2017-07-20 13:19] wkentaro commented on #2305
Closed via https://github.com/start-jsk/jsk_apc/pull/2325

[2017-07-20 13:19] #2305 closed

[2017-07-22 05:10] pazeshun commented on #2290
|/left_hand_camera/left|/left_hand_camera/right|
|---|---|
|![screenshot from 2017-07-22 14 07 51](https://user-images.githubusercontent.com/14994939/28488533-63e22082-6ee7-11e7-81f4-091a200001c1.png)|![screenshot from 2017-07-22 14 07 56](https://user-images.githubusercontent.com/14994939/28488534-6a4ebb24-6ee7-11e7-92ef-ceb917078856.png)|
@YutoUchimi @wkentaro

[2017-07-22 07:45] pazeshun opened #2360 "持っていくものリスト"
- 工具
  - [ ] パテ (@pazeshun)
  - [ ] アロンアルファ (@pazeshun)
  - [ ] アラルダイト (@pazeshun)
  - [ ] 万能ハサミ (@pazeshun)
  - [x] はんだごて (@pazeshun)
  - [ ] 養生テープ (@pazeshun)
  - [x] 養生テープ (@YutoUchimi)
  - [ ] 紙ガムテープ (@pazeshun)
  - [x] 紙ガムテープ (@YutoUchimi)
  - [ ] 布ガムテープ (@pazeshun)
  - [x] 布ガムテープ (@YutoUchimi)
  - [ ] ビニールテープ (@pazeshun)
  - [x] ドライバー (@pazeshun)
  - [ ] 六角レンチ (@pazeshun)
  - [x] ペンチ、ニッパー (@

[2017-07-22 07:48] pazeshun commented on #2360
業者に持って行ってもらう物品も含んでいます。

[2017-07-22 10:00] pazeshun commented on #2180
Closed via #2355

[2017-07-22 10:00] #2180 closed

[2017-07-22 15:12] pazeshun commented on #2209
こちらですが、現状そこまで問題になっていないのと、直す時間がなさそうなので、指が壊れた時の部品交換時に直すことにします。

[2017-07-22 15:19] pazeshun opened #2364 "Suction objects near walls"
現状、壁近くの物品を吸着しようとすると、指が壁の上部に引っかかってしまうケースが多いです

[2017-07-22 15:21] pazeshun commented on #2364
@708yamaguchi #2361 で物品真上にグリッパ全体を持っていき、直動関節を伸ばして物体を把持するようになったので、これをベースに直し方を考えましょう

[2017-07-22 15:24] pazeshun opened #2365 "Pinch standing flat objects near walls"
壁に立てかけられているバインダーや本を取りたい

[2017-07-22 15:49] pazeshun commented on #2364
## Idea 1
![suction_near_wall](https://user-images.githubusercontent.com/14994939/28492542-aa2e64b6-6f40-11e7-98f0-646db79c375f.jpg)

[2017-07-22 15:52] pazeshun commented on #2365
壁沿いの領域では、指を壁に向けるよう、rpyを#f(0 0 0), #f(pi/2 0 0), #f(pi 0 0), #f(-pi/2 0 0)から選択してIKを解く。

[2017-07-23 00:03] pazeshun commented on #2364
@708yamaguchi こちら、僕がやります

[2017-07-23 00:03] pazeshun commented on #2365
@708yamaguchi こちら、僕がやります

[2017-07-23 00:17] pazeshun opened #2366 "Prepare for IK failure"
Pickingの最中にIKが失敗しても、その点をスキップする or Pickingを中止することで、タスクを続けられるようにする

[2017-07-23 05:00] YutoUchimi commented on #2290
https://github.com/start-jsk/jsk_apc/pull/2368 でoverlook-poseのoffsetを調整しました。

[2017-07-23 05:01] wkentaro commented on #2290
nice nice

[2017-07-23 05:01] #2290 closed

[2017-07-23 09:48] #2364 closed

[2017-07-23 13:36] pazeshun commented on #2365
#2367 でつかみやすくなったと思います。

[2017-07-23 13:42] pazeshun opened #2379 ":try-to-pick-objetで腕が真下に下りない時がある"
特に、tote/shelfのBaxterに近い側の壁付近で発生。
- IKで出てくる姿勢を確認
- 関節角補間だとどのような軌跡を描くのか確認
- end-coords-interpolationを使えるか確認

[2017-07-23 15:37] pazeshun commented on #2365
重心が高い物体は現在の方法でいいが、重心の低い物体だと直動関節が届かない
→別の方法が必要？

[2017-07-23 15:40] pazeshun opened #2383 "気圧センサ閾値のキャリブ"
忘れてました。
手袋の気圧値を確認する必要があります。

[2017-07-25 12:28] #2248 closed

[2017-07-25 15:38] wkentaro commented on #2360
Please reopen when you have left objects in the lab. I will bring it.

[2017-07-25 15:38] #2360 closed

[2017-07-25 15:39] wkentaro commented on #2163
Thanks.

[2017-07-25 15:39] #2163 closed

[2017-07-25 15:39] wkentaro commented on #2177
Its done. Please reopen this if not.

[2017-07-25 15:39] #2177 closed

[2017-07-25 15:40] wkentaro commented on #2187
It's done and launched in `grasped_region_classifier.launch`.

[2017-07-25 15:40] #2187 closed

[2017-07-25 15:40] wkentaro commented on #2220
I think it is done. Please reopen if not.

[2017-07-25 15:40] #2220 closed

[2017-07-25 15:43] wkentaro commented on #2267
Please practice tomorrow, too.

[2017-07-25 15:43] #2267 closed

[2017-07-25 15:44] wkentaro commented on #2260
I think it's done. Please reopen if not.

[2017-07-25 15:44] #2260 closed

[2017-07-25 15:44] wkentaro commented on #2383
I think it is done. Please reopen if not.

[2017-07-25 15:44] #2383 closed

[2017-07-25 15:45] wkentaro commented on #2365
I think it is done. Please reopen if not.
Or maybe moved to https://github.com/start-jsk/jsk_apc/issues/2258?

[2017-07-25 15:45] #2365 closed

[2017-07-25 15:45] wkentaro commented on #2366
Please do this tomorrow.

[2017-07-25 15:46] wkentaro commented on #2379
Please do this tomorrow.

[2017-07-25 15:46] wkentaro commented on #2025
Please reopen if it is not done yet.

[2017-07-25 15:46] #2025 closed

[2017-07-26 00:09] knorth55 opened #2412 "data collection service does not come back"
[code]

[2017-07-26 00:12] wkentaro commented on #2412
sorry please use this branch
https://github.com/jsk-ros-pkg/jsk_common/tree/fix_data_collection_server/jsk_data

2017年7月26日(水) 9:09 Shingo Kitagawa <notifications@github.com>:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-07-26 00:16] knorth55 commented on #2412
thx!

[2017-07-26 01:12] wkentaro opened #2414 "Fewshot FCN"
@knorth55

Please try this:

[code]

[2017-07-26 03:12] wkentaro commented on #2414
[code]

[2017-07-26 07:46] pazeshun commented on #2366
先ほど、IKが解けなくてmainが落ちる現象が発生しました。

状況
- pick taskのbin Bで、Baxterから遠い側の壁に接した物体を右手で取ろうとした
- suctionは壁沿い専用のものになったが、物体を外して失敗した
- suctionからpinchへ移行する際にIKが解けなかった

推測される失敗場所
- https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/euslisp/lib/arc-interface.l#L515

[2017-07-26 07:51] pazeshun commented on #2366
stowのplace-objectでもIKが解けないことがありました。

状況
- bin Cにplaceした時にIKが解けなかった

推測される失敗場所
- https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/euslisp/lib/stow-interface.l#L348

[2017-07-27 10:25] wkentaro opened #2458 "Ik fail on placing pinched object"
https://gist.github.com/wkentaro/bcac59b3b5672180abf8f6f22b18a453

@k-okada

[2017-07-28 13:20] #2414 closed

[2017-07-29 13:19] #2458 closed

[2017-07-29 13:19] wkentaro commented on #2458
Maybe fixed.

[2017-07-29 13:19] #2412 closed

[2017-07-29 13:20] wkentaro commented on #2366
Maybe fixed.

[2017-07-29 13:20] #2366 closed

[2017-07-29 13:20] wkentaro commented on #2379
Solved by @pazeshun .

[2017-07-29 13:20] #2379 closed

[2017-07-29 13:21] wkentaro commented on #2037
Resolved by @wkentaro

[2017-07-29 13:21] #2037 closed

[2017-08-01 16:30] wkentaro opened #2501 "Fix slots variables"

[2017-08-01 16:31] wkentaro opened #2502 "Install grippers to baxter"
Now baxter is fixed. Please tackle this, soon.
Maybe left gripper is broken?

- [ ] Fix left gripper (maybe https://github.com/start-jsk/jsk_apc/issues/2256 and https://github.com/start-jsk/jsk_apc/issues/2209?)
- [x] Install grippers

[2017-08-01 16:33] wkentaro opened #2503 "Stabilize suction graspingp"
Maybe

- [ ] Use filter (median filter?) to remove noise on pressure sensor.
- [ ] Not trust the graspingp in the second grasp.

[2017-08-01 16:35] wkentaro opened #2504 "Release training code of unknown objects"
- [ ] How to get and install item data?
- [ ] How to install my private repo? (mvtk)

[2017-08-01 16:36] wkentaro opened #2505 "Unknown objects' ItemData"
Need to ask Joey.

## Pick task

- Band-Aid_Strips: https://www.amazon.com/Band-Aid-Flexible-Fabric-Adhesive-Bandages/dp/B00006IDL6/ref=sr_1_2_a_it?ie=UTF8&qid=1501674456&sr=8-2&keywords=band%2Baid%2Bstrips&th=1
- Brillo_Pads: https://www.amazon.com/Brillo-Basics-Steel-Scrub-8-ct/dp/B01L65FY3U/ref=sr_1_1?ie=UTF8&qid=1501674079&sr=8-1&keywords=brillo+pads+basic
- Darth_Vader_Cup: http://www.ebay.co

[2017-08-01 16:52] wkentaro opened #2506 "Create movie that summarizes our system at ARC2017"

[2017-08-01 18:23] wkentaro opened #2507 "Grasp planning for large, heavy and deformable objects like avery binder"

[2017-08-02 03:41] pazeshun commented on #2502
I'll do this tomorrow.
Sorry for late.

[2017-08-02 03:42] pazeshun commented on #2503
You're right. I'll do this.

[2017-08-02 12:31] otsubo commented on #2505
- Elastic_Wrap_Bandage: https://www.walmart.com/ip/Flex-Aid-3-Elastic-Wrap-Bandage-1-Roll/25875621
- Darth_Vader_Cup: http://www.ebay.com/itm/STAR-WARS-Classic-REUSABLE-KEEPSAKE-CUPS-2-Birthday-Party-Supplies-Favors-/282578760194?hash=item41cb01b202:g:ikQAAOSw4A5Yq7op

[2017-08-03 08:10] wkentaro opened #2509 "Grasp standing flat object"

[2017-08-03 08:11] wkentaro commented on #2502
Done.

[2017-08-03 08:11] #2502 closed

[2017-08-03 21:13] wkentaro opened #2515 "Gripper won't open when placing pinched object"
I encountered this problem when the gripper pinched the toilet brush.
The brush is still in the hand, and it drops out of the box.

[2017-08-04 09:22] pazeshun opened #2519 "Fail to calibrate prismatic joint"

[2017-08-04 09:43] #2515 closed

[2017-08-04 18:40] wkentaro commented on #2501
Closed via https://github.com/start-jsk/jsk_apc/pull/2520

[2017-08-04 18:40] #2501 closed

[2017-08-04 22:36] wkentaro opened #2525 "What is the difference between pick.rviz and stow.rviz? Can be consolidated?"
Synchronizing both rviz config is a bit difficult. Why currently they are separated? @knorth55

[2017-08-04 22:38] wkentaro opened #2526 "Detect death of motor torque which caused our fail in the challenge"

[2017-08-04 23:00] wkentaro opened #2528 "Stabilize usb devices found/not-found"

[2017-08-04 23:01] wkentaro opened #2529 "Scale can output minus value, and the classifier by weight hangs in that case"
Currently we use -1 when unstable state of the scale, but -1 cannot represent unstable state of the scale, because the scale can output minus values.

[2017-08-04 23:43] wkentaro opened #2531 "Record task log"
- initial state
- rosbag
- axis camera
- input json
- output json
- final state

[2017-08-05 06:48] knorth55 commented on #2525
Tote bbox and other small things are different.

[2017-08-05 07:18] wkentaro commented on #2525
Can they be a single file?
tote bbox is not published on picking task, so it seems ok.

2017年8月5日(土) 15:48 Shingo Kitagawa <notifications@github.com>:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-08-05 07:25] #2529 closed

[2017-08-05 07:25] #2528 closed

[2017-08-05 07:26] knorth55 commented on #2525
probably ok

[2017-08-08 02:51] wkentaro commented on #2505
The organizers of ARC won't respond.. I postpone this to 4.2.0.

[2017-08-08 05:29] #2525 closed

[2017-08-08 06:23] wkentaro commented on #2531
Not needed for 4.1.0, so postpone this.

[2017-08-08 07:15] wkentaro opened #2547 "Light weighted gripper model"
for faster eus model loading. currently it is too large.

[2017-08-08 10:06] pazeshun commented on #2256
左手交換しました。
治ったと思います。

[2017-08-08 10:06] #2256 closed

[2017-08-08 15:27] pazeshun opened #2550 "Naming slots in baxterrgv5"
https://github.com/start-jsk/jsk_apc/pull/2541#discussion_r131803507

[2017-08-08 15:39] pazeshun commented on #2519
Two causes:
- Multi turn mode of motor is sometimes wrong
  - Careful debugging will solve this.
- Motor sometimes detects high torque when prismatic joint moves heavy load (eg. hose and gripper itself)
  - Adding touch sensor will solve this. Takes long time.

First, I have to solve the former cause.

[2017-08-08 17:37] #2503 closed

[2017-08-08 21:24] pazeshun opened #2551 "gripper motor state doesn't come"
[code]

[2017-08-08 21:31] wkentaro commented on #2551
![image](https://user-images.githubusercontent.com/4310419/29095608-65093aac-7ccc-11e7-9119-a491c529b97a.png)

[2017-08-08 23:41] pazeshun commented on #2551
This is not IK failue.
The right gripper's state doesn't come.
I thought this never happens if sanity check is passed...

[2017-08-08 23:48] pazeshun commented on #2551
Oh, I misunderstood about sanity check.
Can you add check about gripper state to pick.launch?

If this check is passed, main program can get gripper state once at least.
This will prevent this error (prismatic-load becomes nil)

[2017-08-09 00:13] pazeshun commented on #2551
I'll add sanity check code in baxter-interface

[2017-08-09 00:26] pazeshun commented on #2551
I've found that `/gripper_front/limb/right/dxl/finger_tendon_controller/state` came though `/gripper_front/limb/right/dxl/prismatic_joint_controller/state` didn't come.
Only prismatic_joint_controller died.

[2017-08-09 00:59] pazeshun opened #2552 "sanity check for setup_for_stow"
Currently, stow.launch doesn't have sanity check.

[2017-08-09 02:04] pazeshun opened #2553 "Noisy warn output from rosserial"
[code]
Cause: https://github.com/ros-drivers/rosserial/issues/247
Only fixed in jade... https://github.com/ros-drivers/rosserial/pull/248

[2017-08-09 02:21] wkentaro commented on #2553
is this fixed if we install rosserial from source?

[2017-08-09 02:36] #2526 closed

[2017-08-09 02:50] pazeshun commented on #2553
Yes, maybe. I'll test.

[2017-08-09 22:55] wkentaro commented on #2553
This is criticall...

[2017-08-09 23:03] wkentaro opened #2557 "Overload Error of l_dxhub"
@pazeshun How can we fix this? I re-plugged in the usbs..

[code]

[2017-08-10 00:20] wkentaro commented on #2557
[code]

[2017-08-10 00:59] #2553 closed

[2017-08-10 02:56] pazeshun commented on #2557
赤白の電源ケーブルさしなおして下さい

[2017-08-10 05:33] wkentaro commented on #2557
治ったぽいです。

On Thu, Aug 10, 2017 at 11:56 AM, Shun Hasegawa <notifications@github.com>
wrote:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-08-10 06:47] wkentaro opened #2559 "xLeft Right hand mounted arduino cannot be found from C2"
[code]

[2017-08-10 06:51] pazeshun commented on #2559
ArduinoのLEDはついていますか？
抜き差ししても治りませんか？

[2017-08-10 06:59] wkentaro commented on #2559
- [x] 緑のLEDがついている
- [x] USBの抜き差しをleafからrootまで行う

[2017-08-10 07:14] pazeshun commented on #2559
C2に右手のArduinoだけつけた状態にすると、どうなりますか？

[2017-08-10 08:05] wkentaro commented on #2559
それでもダメでした。

[2017-08-10 08:05] wkentaro commented on #2559
圧力センサとarduinoをつなぐコネクタを抜き差ししたら治りました。 thank you @ban-masa

[2017-08-10 08:15] wkentaro commented on #2557
治っていませんでした。

[2017-08-10 08:21] pazeshun commented on #2559
カメラのケーブルがそのケーブルにひっかかり、抜けかけの状態にしてしまったのかもしれません。

[2017-08-10 08:24] pazeshun commented on #2557
電源ケーブルを指し直すと、サーボの状態がリセットされ、必ず治ります。
再発した原因は謎ですが、もしかすると吸着パッド関節に大きな負荷がかかっているかもしれません。
吸着パッド関節が動かせるか確認してください

[2017-08-10 08:26] #2559 closed

[2017-08-10 08:26] wkentaro commented on #2559
そんな感じですね、
でも抜けかけには全然見えなかったんですが。。

2017年8月10日(木) 17:21 Shun Hasegawa <notifications@github.com>:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-08-10 08:26] pazeshun commented on #2557
負荷がかかっていなくても、モータのPID制御がまれに振動して、overload errorにつながることがあります

[2017-08-10 09:15] pazeshun opened #2560 "ホースとケーブルの取回しの修正"

[2017-08-11 02:15] pazeshun commented on #2560
右手のホースの修正
- Baxterの腕から下がった結束帯の輪にホースを括りつけている結束帯を切る
- 結束帯の輪からグリッパまでのホースの長さを、左手のホースと同じくらいの長さにする
- 結束帯でホースを再度括りつける

[2017-08-11 16:50] wkentaro commented on #2557
baxter.launchを立ち上げるときに引っかかりがないように補助してやると直りました。

多分これだと思います。

[2017-08-11 16:50] #2557 closed

[2017-08-11 23:30] wkentaro commented on #2560
It seems that https://github.com/start-jsk/jsk_apc/pull/2563 solves this problem, so can I close this?

[2017-08-11 23:40] pazeshun commented on #2557
何がひっかかったのか、教えていただけるとありがたいです

[2017-08-11 23:41] pazeshun commented on #2560
Please wait until I check today.

[2017-08-12 01:50] pazeshun commented on #2560
カメラの配線を修正しました。

[2017-08-12 01:50] #2560 closed

[2017-08-12 01:55] pazeshun commented on #2551
Maybe https://github.com/pazeshun/dynamixel_motor/commit/957bfbc6ecfef6354bf16da651ab8029b9e56888 solves this problem.

[2017-08-12 01:55] #2551 closed

[2017-08-12 02:39] wkentaro opened #2564 "Detect ungrasp by scale"
By weight scale refiner.py

[2017-08-12 04:20] wkentaro opened #2565 "Move untarget objects to other bins"

[2017-08-12 04:21] wkentaro commented on #2564
Please do this with https://github.com/jsk-ros-pkg/jsk_recognition/pull/2160

[2017-08-12 07:02] pazeshun commented on #2519
The former cause may be fixed.
I'll solve the latter cause.

[2017-08-12 10:32] #2547 closed

[2017-08-13 14:18] wkentaro opened #2569 "Robustness for item pictures taken in a blue light"
## Item pictures vs Real image

<img src=https://user-images.githubusercontent.com/4310419/29250426-3c065266-807d-11e7-8a50-b1f6851fed88.png width=30%/> <img src=https://user-images.githubusercontent.com/4310419/29250427-3da06db4-807d-11e7-8726-5eb8f6d73a8b.png width=30% /> <img src=https://user-images.githubusercontent.com/4310419/29250441-707dd50a-807d-11e7-90fa-5bbc91329e48.png width=30%/>

##

[2017-08-13 14:22] wkentaro commented on #2506
We've done taking pick movie, so doing for stow currently.

[2017-08-21 19:54] #2564 closed

[2017-10-10 09:51] wkentaro opened #2596 "Release 4.1.2"

[2017-10-11 09:05] wkentaro commented on #2596
https://github.com/ros/rosdistro/pull/16068

[2017-10-11 09:05] #2596 closed

[2017-10-23 10:19] wkentaro opened #2598 "Build failed in Jenkins: Ibin_uT64__jsk_arc2017_baxter__ubuntu_trusty_amd64__binary"
[code]

[2017-10-23 14:23] wkentaro commented on #2598
https://github.com/ros/rosdistro/pull/16137

[2017-10-23 14:23] #2598 closed

[2017-10-26 07:27] wkentaro opened #2600 "Error when we try to find roseus_mongo in euslisp"
[code]

[2017-10-26 08:08] knorth55 commented on #2600
This is because I purge `apt` `ros-indigo-mongodb-store`.
This package requires `ros-indigo-libmongo-cxx-headers`, which conflict with `moveit cxx mongodb headers`.

[2017-10-26 09:36] k-okada commented on #2600
what do you mean by "purge"?. Did you remove it from package.xml?

[code]
which one is it? do you mean it is conflict with moveit from source tree?

[2017-10-26 09:58] knorth55 commented on #2600
`sudo apt-get purge ros-indigo-mongodb-store`

I mean `ros-indigo-libmongocxx-ros`.
`warehouse_ros` also has `mongo_ros` `cxx` `headers` and it conflicts.

[2017-10-26 10:06] knorth55 commented on #2600
- moveit: `warehouse_ros ->moveit_warehouse`
- mongodb_store: `libmongocxx-ros -> mongodb_store -> roseus_mongo`

I use `moveit` source for debugging, so I need `moveit` version `mongo cxx header`.

[2017-10-26 10:34] k-okada commented on #2600
in that case, you can put  CATKIN_IGNORE file within `warehouse_ros` package and remove `<build_depend>werehouse_ros</build_depend>` from your source tree.

basically, the system software is designed for people who using default settings, if you use your own settings (using kinetic source on indigo machine), do not change system, change your source tree.

[2017-10-26 10:58] knorth55 commented on #2600
Ofcourse, I tried to ignore `warehouse_ros`.
But `warehouse_ros -> moveit_ros_warehouse -> moveit_ros_planning_interface, moveit_ros_visualization, moveit_runtime` and etc.
It depends a lot on `moveit` packages.

[2017-10-26 12:30] k-okada commented on #2600
which version of moveit and warehouse_ros, warehouse_ros_mongo are you using

--
◉ Kei Okada

2017-10-26 19:58 GMT+09:00 Shingo Kitagawa <notifications@github.com>:

[2017-10-26 13:08] knorth55 commented on #2600
moveit is `0.7.12`(source)  and `warehouse_ros` is `shadow-fixed latest`

[2017-10-26 18:19] k-okada commented on #2600
I see

If you continue using indigo moveit, see https://github.com/k-okada/warehouse_ros/commit/dd9007ae1aaf328ba0d722a61792e8dae28697f8
and you need same trick at moveit_core (https://github.com/k-okada/moveit/commit/a674f0c4c853f585baef78fbc552593ed03e6d47)

there are several problems
1. FindMongDB.cmake did not find system mongodb
2. include_direcotry(/usr/include) did not work, it is already i

[2017-10-27 00:19] knorth55 commented on #2600
Actually, I install kinetic-devel branch in my desktop.
I install `fcl` 0.5.0` and `geometric_shapes` `kinetic-devel` from source to compile `moveit`.

[2017-10-27 13:35] knorth55 commented on #2600
I will take the former choice.

[2017-10-30 08:46] knorth55 commented on #2600
I tried to build, but I got error below.
[code]

`geometric_shapes` seems installed.
[code]

[2017-10-31 04:20] #2600 closed

[2017-11-01 08:16] #2507 closed

[2017-11-01 08:16] #2569 closed

[2017-11-01 08:16] #2504 closed

[2017-11-01 08:16] #2505 closed

[2017-11-01 08:16] #2506 closed

[2017-11-01 15:32] 708yamaguchi commented on #125
@k-okada

同様にfetch15でもkinematic simulatorが起動して`Couldn't find an AF_INET address for [fetch15]`とでました。
このissueにならって`/etc/hosts`にfetch15を書くとkinematic simulatorがでなくなったのですが結局原因はなんだったのですか？
cc. @knorth55

[2017-11-01 15:59] k-okada commented on #125
ping fetch15 で名前解決できていないっぽいです．fetch 動いている？ @furushchev DHCP でたらDNSに登録する機能切ったりしていない？

[2017-11-01 16:14] 708yamaguchi commented on #125
`ping fetch15`は通りませんでしたが、`ping baxter`は通りました。
fetchは動いています。

[2017-11-01 16:16] 708yamaguchi commented on #125
僕の`/etc/hosts`は以下のようになっています。
[code]

[2017-11-01 21:30] furushchev commented on #125
昨日は使えていたので電源が落ちているか、wifiを掴めていないor弱いのだと推測します。

On Thu, Nov 2, 2017, 01:16 Naoya Yamaguchi <notifications@github.com> wrote:

--
-- ⌘ Yuki Furuta

[2017-11-02 00:23] knorth55 commented on #125
昨日山口くんとやったときは無線ではなく有線でも同じことがおきていました。

[2017-11-02 04:29] knorth55 commented on #125
fetch15にipが2つひもづいていたので217だけを残して消しました。

[2017-12-05 06:40] pazeshun opened #2609 "Demo doesn't move"
FCN looks working, but target object is not selected.
![screenshot 2017-12-05 15 37 04](https://user-images.githubusercontent.com/14994939/33593354-66bbb79a-d9d2-11e7-8924-56c6b9de62f5.png)
I'm checking the reason.

Errors:
[code]
[code]

[2017-12-05 06:43] pazeshun commented on #2609
@wkentaro
I erased your diff in `util.py` at `baxter-c1` by mistake. Sorry.

[2017-12-05 07:18] pazeshun commented on #2609
I fixed the gripper error by following time synchronization, but situation is the same.
[code]

[2017-12-05 09:01] pazeshun commented on #2609
@knorth55 found the reason:
https://github.com/ros-perception/image_pipeline/pull/299

[2017-12-05 09:28] knorth55 commented on #2609
#2610 temporary fixes this problem.
This issues is caused by https://github.com/ros-perception/image_pipeline/pull/299

[2017-12-05 09:38] wkentaro commented on #2609
Sorry for late.
Thanks @knorth55! I'm not sure why is the PR, ros-perception/image_pipeline#299, needed..

[2017-12-05 12:15] knorth55 commented on #2609
with #2610, it works!

[2017-12-05 12:15] #2609 closed

[2018-03-31 08:29] wkentaro opened #2629 "Build fail on the buildfarm"
See <http://build.ros.org/job/Ibin_uT32__jsk_2016_01_baxter_apc__ubuntu_trusty_i386__binary/341/display/redirect>

------------------------------------------
[...truncated 418.50 KB...]
Get:1075 http://archive.ubuntu.com/ubuntu/ trusty-updates/main qt4-linguist-tools i386 4:4.8.5+git192-g085f851+dfsg-2ubuntu4.1 [826 kB]
Get:1076 http://archive.ubuntu.com/ubuntu/ trusty-updates/main qt4-qmake i386

[2018-04-02 18:25] tfoote commented on #2629
The underlying issue on this is that the job is timing out. We're investigating a slowdown in apt installations here: https://github.com/ros-infrastructure/ros_buildfarm/issues/535

[2018-04-02 18:39] tfoote commented on #2629
This package is causing issues because of the very large build dependency list.

From just above this output in the console log it's installing over 1200 packages as dependencies which takes a lot of time to download and unpack before the build can even start.

[code]

[2018-04-04 02:30] wkentaro commented on #2629
@tfoote Thanks. I and @k-okada decided to remove jsk_apc for now, since there are few people who are using jsk_apc installed via apt; most of the users install it from source.

[2018-04-05 01:55] tfoote commented on #2629
@wkentaro Thanks. If you want to have the source and or the doc entry still in the rosdistro that would be fine.

[2018-04-05 07:45] wkentaro commented on #2629
Thanks!

[2018-04-05 07:45] #2629 closed

[2018-04-05 07:48] wkentaro commented on #2629
I sent a PR: https://github.com/ros/rosdistro/pull/17351

[2018-04-13 11:25] #2172 closed, assigned to wkentaro, YutoUchimi

[2018-05-16 11:24] knorth55 opened #2634 "Should we make Kinetic and Indigo branch?"
Move from #2633

@pazeshun suggested and approved this idea.
@wkentaro @YutoUchimi  can you give us any idea?

[2018-05-16 12:11] wkentaro commented on #2634
If this is for the C++ code, I think we should just use a macro.

[2018-05-16 12:18] pazeshun commented on #2634
pros:
- Enable to deal with when a depending package becomes different from kinetic to indigo (like #2633 )

cons:
- Management is bothering (requiring two PRs etc...)

[2018-05-17 06:59] knorth55 commented on #2634
#2633 solved with macro.
However, we should set our policy.
IMO, I prefer to maintain `master` branch for both `indigo` and `kinetic`.

[2018-05-18 07:12] wkentaro commented on #2634
Closed via https://github.com/start-jsk/jsk_apc/pull/2633

[2018-05-18 07:12] #2634 closed

[2018-05-26 14:55] wkentaro opened #2641 "Could not find a package configuration file provided by "Qt5Widgets" for baxter_sim_io"
@knorth55 Do you have an idea?

I am using the latest fc.rosinstall on Ubuntu 14.04.
Maybe you rebased to kinetic-devel?
[code]

[2018-05-26 15:06] wkentaro opened #2642 "cannot find method :speak in (send *ri* :speak ("
[code]

[2018-05-26 19:58] #2642 closed

[2018-05-28 08:16] wkentaro commented on #2641
Closed via #2644

[2018-05-28 08:16] #2641 closed

[2018-08-03 09:41] pazeshun opened #2658 "Baxter rotates its wrist to pick an object in tote (Beta)"
From https://github.com/jsk-ros-pkg/jsk_recognition/pull/2315#pullrequestreview-143102575

@wkentaro Sorry for your trouble.
In current ARC program, gripper yaw angle is set in the following situation. Otherwise, IK is solved with `:rotation-axis :z`.
- In suction grasp and grasp point is near walls.
- In pinch grasp. Yaw angle is calculated from rpy angle of bounding box.

`force_to_flip_z_axis:

[2018-08-03 09:50] pazeshun commented on #2658
Even in pinch, robot tries to minimize yaw angle by https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/euslisp/lib/arc-interface.l#L490-L493

[2018-08-03 10:04] wkentaro commented on #2658
Sorry, maybe its an expected behavior.

The issue I was thinking about was in suction grasp.
The robot rotated the wrist 180 degrees in the z-axis to grasp an object from the vertical direction.
And I thought it can be 0 degree in such situation.

But with the two fingers we should avoid the wall of the tote, so current behavior seems correct.
See 00:09 in https://drive.google.com/drive/u/1/folder

[2018-08-03 13:03] pazeshun commented on #2658
I understand what is happening.
You can change range of near wall detection
https://github.com/start-jsk/jsk_apc/blob/master/jsk_arc2017_baxter/euslisp/lib/arc-interface.l#L477

[2018-08-04 03:54] wkentaro commented on #2658
I see. Thanks.

2018年8月3日(金) 22:39 Shun Hasegawa <notifications@github.com>:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-08-12 12:27] #2658 closed

[2018-12-20 11:24] knorth55 opened #2673 "after ros_control_node error, prismatic joint does not move"
[code]

It can be solved by relaunching `baxter.launch`/

[2019-01-29 18:11] knorth55 commented on #2673
I cannot get this error again.
Temporary close.
If you find out this error, please reopen.

[2019-01-29 18:11] #2673 closed

[2019-04-17 11:12] knorth55 opened #2680 "Release 4.2.1"
#2677, #2678, #2679

[2019-04-18 02:29] knorth55 commented on #2680
released in https://github.com/start-jsk/jsk_apc/commit/95fad323d513a2b2b8ad3d9c65edf64c28f1a528

[2019-04-18 02:29] #2680 closed

[2019-05-01 11:47] knorth55 opened #2681 "5.0.0: ARC New Demo"
# 5.0.0: ARC New Demo in 2019

Intergrate @wkentaro + @knorth55  + @pazeshun master thesis into one.

## @wkentaro master thesis
- [ ] dataset synthesis
- [ ] occlusion segmentation

## @knorth55 master thesis
- [ ] dual-arm grasping
- [ ] self-supervised manipulation learning

## @pazeshun master thesis
- [ ] gripper v8
- [ ] grasping with tactile and proximity sensors

[2019-05-01 11:48] knorth55 commented on #2681
@pazeshun can you update this issue?

[2019-05-01 11:53] knorth55 opened #2682 "baxter-c1 PC replacement"
we are planning to replace baxter-c1 PC because current PC can be attached only one GPU.

[2019-05-13 03:20] wkentaro commented on #2681
Do you have any roadmap for this? What should I do until when?

[2019-05-13 06:45] knorth55 commented on #2681
@wkentaro
we haven't started working on this issue yet.
Can you list up features you want to add for 5.0.0?
I listed up dataset synthesis and occlusion segmentation because I can implement it to `jsk_apc` by myself.
But you can add more your other work (i.e. labeled voxel) to the list.

[2019-05-13 16:52] knorth55 commented on #2682
#2683 required

[2019-05-14 06:49] knorth55 commented on #2682
#2684 required

[2019-05-14 12:08] wkentaro commented on #2681
For me, it looks already requires much work to be done, and the current list looks enough.

[2019-05-14 12:22] knorth55 commented on #2681
@wkentaro I think so, too.
Thank you for your feedback anyway.

[2019-05-15 18:36] #2682 closed

[2019-06-17 23:42] wkentaro opened #2689 "ERROR: no rosdep rule for 'libcmt'"
[code]

It works on kinetic.

[2019-06-18 12:57] knorth55 commented on #2689
[code]

[2019-06-18 13:02] wkentaro commented on #2689
[code]

[2019-06-18 13:03] wkentaro commented on #2689
![image](https://user-images.githubusercontent.com/4310419/59684408-dccb1580-91d1-11e9-885f-78721fdbc4f8.png)

[2019-06-18 13:04] knorth55 commented on #2689
[code]
?

[2019-06-18 13:04] wkentaro commented on #2689
It works! So should we add it to jsk_travis?

[2019-06-18 13:06] wkentaro commented on #2689
Was included. So I will update .travis.

https://github.com/jsk-ros-pkg/jsk_travis/blob/8d982cf425ea25492ffc3797857598045072e5bb/travis.sh#L199

[2019-06-18 13:06] knorth55 commented on #2689
:+1:

[2019-06-18 13:41] #2689 closed

[2019-06-18 15:27] wkentaro opened #2691 "Automated Build For Docker"
@pazeshun Currently, the docker image is not updated since we migrated it to jskrobotics group.
![image](https://user-images.githubusercontent.com/4310419/59697418-b0b98f80-91e5-11e9-8123-e7bdcaf7c857.png)

There are different ways to enable this:

- Link to GitHub (admin of start-jsk) and trigger the build with `git push`
- Add webhook from GitHub to DockerHub: https://docs.docker.com/docker-hub/

[2019-06-19 03:08] pazeshun commented on #2691
Currently I and @k-okada are trying the first option

because without linking to GitHub, Dockerfile in this GitHub repository is not transferred to DockerHub repository.
Now we are waiting for build.

[2019-06-19 05:34] pazeshun commented on #2691
I'll check setting is correct when #2693 is merged.

[2019-06-19 09:49] pazeshun commented on #2691
I added webhook and use it in #2693

[2019-06-29 06:09] pazeshun commented on #2691
This is fixed by #2694

[2019-06-29 06:09] #2691 closed

[2019-07-15 07:25] pazeshun opened #2695 "baxter.launch in jsk_arc2017_baxter does not work on baxter-c1"
Today, I faced the following errors in `roslaunch jsk_arc2017_baxter baxterlgv7.launch`:
- Critical one:
[code]
- Others:
[code]
[code]

I found the installed numpy is old (1.11.0). When I installed new numpy to the user install directory, ~~those errors were disappeared~~ the critical error was disappeared.
[code]

@knorth55 Do you have any ideas about baxter-c1's change?

[2019-07-15 08:06] pazeshun commented on #2695
This error might be overlooked previously and may be able to be ignored. https://github.com/ros-planning/moveit/issues/1426

[2019-07-15 08:34] pazeshun commented on #2695
This was my fault.
The cause of this error was that parameter `/camera` (type: dictionary) was set when I did `roslaunch openni2_launch openni2.launch`.
`axis.py` searches the parameter including `camera` for the camera number.
https://github.com/ros-drivers/axis_camera/blob/0.3.0/nodes/axis.py#L199-L204
Usually, this attempt fails and the default value `0` is used.
https://github.com/ros-drivers/

[2019-07-15 09:56] pazeshun opened #2696 "Cupy cannot use cuDNN on baxter-c1"
When I ran my recognition launch, I got the following error:
[code]

When I installed cupy to the user install directory, this error disappeared.
[code]

[2019-07-16 08:14] pazeshun commented on #2696
[code]
solved problem.

[2019-07-16 08:14] #2696 closed

[2019-07-16 08:19] pazeshun commented on #2695
system numpy is `python-numpy` `1:1.11.0-1ubuntu1` because current moveit can only be built with `numpy` `1.11.0`
see https://github.com/ros-planning/moveit/issues/1524#issuecomment-508879951.

please install higher `numpy` version (such as `1.16.4`) in your user local dir by `pip install --user numpy -U`.

[2019-07-16 08:19] #2695 closed

[2020-05-22 09:10] pazeshun opened #2713 "Infinite loop in I2C resetting"
Moved from https://github.com/pazeshun/sphand_ros/issues/4

[2020-05-22 09:11] pazeshun opened #2714 "[sphand_ros] Error when servo is initially off"
Moved from https://github.com/pazeshun/sphand_ros/issues/2

[2020-06-16 04:26] pazeshun opened #2716 "catkin_virtualenv fails to construct environment"
https://github.com/start-jsk/jsk_apc/pull/2708#issuecomment-644462660
When adding `--verbose` to `catkin build`, I got the following error log:
[code]
Now I'm investigating.

[2020-06-16 04:29] pazeshun commented on #2716
Related to https://github.com/pypa/pipenv/issues/3824 and https://github.com/pypa/virtualenv/issues/737???

[2020-06-16 05:48] pazeshun commented on #2716
After `catkin build` again (this doesn't fail but a generated environment is incomplete), I could reproduce the error by `pip install labelme==4.5.0`:
[code]
However, `pip install labelme==4.4.0` succeeded:
[code]
My current assumption is that some change between labelme v4.4.0 and v4.5.0 (https://github.com/wkentaro/labelme/commit/19433fcabfd00b382bf50d511d1f5afc9f4d5df0?) forces to use `site.get

[2020-06-16 06:09] pazeshun commented on #2716
This seems wrong. Trying `pip install -e .` tells me installation fails after https://github.com/wkentaro/labelme/commit/5c9808446a179176c721bd7a59d621b41c95898c.

[2020-06-16 06:19] pazeshun commented on #2716
Now I've found the problem point where `site.getsitepackages()` is used:
https://github.com/wkentaro/labelme/commit/5c9808446a179176c721bd7a59d621b41c95898c#diff-2eeaed663bd0d25b7e608891384b7298R15

[2020-06-16 15:38] pazeshun commented on #2716
This issue seems fixed by https://github.com/wkentaro/labelme/pull/688 and now travis tests succeeded on the master branch.

[2020-06-16 15:38] #2716 closed

[2020-06-17 04:31] pazeshun opened #2717 "gripper-v8の現在の問題点"
Moved from https://github.com/pazeshun/jsk_apc/issues/2

- [ ] 腕を動かすとカタカタすることが多い。グリッパが重すぎるせい?
- [ ] モータトルクがオフの間に、指の内転・外転関節が角度範囲外に動かされてしまうとdynamixel_driverでエラーが発生する
- [ ] うまく動かない時のチェック方法、対処方法をREADMEにまとめる(:wait-interpolationが返ってこない時にrostopic echoなど)
- [ ] 重量物を持ち上げられるようにした関係で、ギア飛びしやすくなっている。伸びている途中でホースが引っかかると特にギア飛びしやすい
- [ ] マルチプレクサ0x70に指令を送れず、ループに入ってしまうことがある(ex. `[ERROR] [1556517041.720618564]: Canno

[2020-06-30 07:09] pazeshun opened #2718 "Cannot import matplotlib.pyplot on kinetic and melodic travis tests"
https://github.com/start-jsk/jsk_apc/pull/2708#issuecomment-651225532
[code]

[2020-06-30 07:14] pazeshun commented on #2718
As the error message says, `python-tk` is not installed on `jskrobotics/jsk_apc:<kinetic/melodic>-latest-testing` docker image:
[code]
By contrast, `python-tk` is installed on `jskrobotics/jsk_apc:indigo-latest-testing` image:
[code]

[2020-06-30 07:47] pazeshun commented on #2718
`python-tk` is dropped from `osrf/ros:<kinetic/melodic>-desktop-<xenial/bionic>`, which is original image of `jskrobotics/jsk_apc:<kinetic/melodic>-latest-testing`:
https://github.com/osrf/docker_images/issues/423

[2020-06-30 09:15] pazeshun commented on #2718
Dropping `python-tk` (and other "Recommends" dependencies) was what the maintainer expected: https://github.com/osrf/docker_images/issues/423#issuecomment-651638995
We have to install lacking dependencies explicitly -> #2719

[2020-07-01 01:23] #2718 closed

[2020-11-18 12:26] IslamFadl opened #2727 "Possibility of missing file."
It appears that in the directory below there is not a _view_dataset.py_ file:
_jsk_apc/demos/instance_occlsegm/examples/instance_occlsegm/semantic_segmentation_

I ran into this problem when I was trying the commands in the README.md file in this directory:
_jsk_apc/demos/instance_occlsegm_

**This part in particular:**

# Dataset for semantic (image-level) occlusion segmentation
cd examples/insta

[2020-11-18 12:41] knorth55 commented on #2727
Yes, probably you are right.
It seems `demos/instance_occlsegm/examples/instance_occlsegm/semantic_segmentation/view_dataset.py` is missing, which is written in https://github.com/start-jsk/jsk_apc/tree/master/demos/instance_occlsegm#without-ros
https://github.com/start-jsk/jsk_apc/tree/master/demos/instance_occlsegm/examples/instance_occlsegm/semantic_segmentation

However, it seems it is just a

[2020-11-18 13:33] wkentaro commented on #2727
Yes, this is a typo ー I sent a fix here: https://github.com/start-jsk/jsk_apc/pull/2728
Thanks for catching and answering this, both!

[2020-11-18 13:40] IslamFadl commented on #2727
Please also note that both files "view_dataset.py" , in the README.md ,need another two lines of code:
_import sys
sys.path.insert(1, '/home/student2/PycharmProjects/masterproject/relook/jsk_apc/demos/instance_occlsegm')_

in order to execute the following line:
from instance_occlsegm_lib.contrib import instance_occlsegm

otherwise a Module not found error appears and it cannot fetch the /_instanc

[2020-11-18 13:48] knorth55 commented on #2727
import sys
sys.path.insert(1, '/home/student2/PycharmProjects/masterproject/relook/jsk_apc/demos/instance_occlsegm')

if you build this package with `catkin build`, you don't need to set the path because it is ROS package.
but if you want to try it without ROS, you need.

[2020-11-18 13:51] IslamFadl commented on #2727
Oh, that's why. I actually didn't install ROS and attempted the 'without ROS' examples thinking it would not affect the code.

Thanks a lot.

[2020-11-18 14:01] knorth55 commented on #2727
Or you can run `make install` in `instance_occlsegm` and build conda environment without ROS.
https://github.com/start-jsk/jsk_apc/blob/master/demos/instance_occlsegm/Makefile

[2020-11-18 14:34] #2727 closed

[2020-12-17 03:25] IslamFadl commented on #2727
After running `make install` in `instance_occlsegm` directory, and as in the sequence of the readme file, I followed by these two commands:

[code]

And I got this error:

[code]

Any idea how to circumvent this error?

[2020-12-17 03:30] wkentaro commented on #2727
We developed this with older Chainer, so maybe you have to check its version or modify the Extension to adapt to the latest version.

[2020-12-17 13:23] eagleeye05 commented on #2727
Hi! I met the same problem. Have you find the right version? Thank you.

[2020-12-17 13:44] eagleeye05 commented on #2727
I changed the chainer version to 5.0.0. It works.

[2020-12-17 23:34] IslamFadl commented on #2727
Thanks for the response.
I am a bit confused, which CuPy pakage do you have installed in this specific case?

[2020-12-21 01:59] eagleeye05 commented on #2727
I download the cupy-cuda101. It works.

[2021-04-01 05:35] GeJunyan opened #2736 "How to generate my synthetic2d dataset and train in instance-occlsegm demo"
1.  I cannot download ARC2017ItemDataSyntheticInstanceSegmentationDataset, the url seems down.
    _def download(cls):
        instance_occlsegm_lib.data.download(
            url='https://drive.google.com/uc?id=1OYoLwsRuHKP8is-7JIE2ii5f-VeICjv1',  # NOQA
            md5='5a64bb03613589e5aeab41d8319bb945',
            path=cls.item_data_dir + '.zip',
            postprocess=instance_occlsegm_lib.d

[2021-04-01 05:35] GeJunyan commented on #2736
@k-okada

[2021-04-01 06:17] wkentaro commented on #2736
1. The link seems still work for me.
2. Here’s where the synthetic data is generated
https://github.com/start-jsk/jsk_apc/blob/2553b557d98c5f258bf4ca44da8c4bfb8b19fd64/demos/instance_occlsegm/instance_occlsegm_lib/datasets/apc/arc2017_v2/item_data_synthetic.py#L65

[2021-05-28 11:08] #2736 closed

[2021-06-05 17:07] knorth55 opened #2743 "travis-ci.comへの移行"
@k-okada
jsk_apcがtravis-ci.orgのbuildを通ることがPRをマージするときの条件として設定されているのですが，こちらをtravis-ci.comのbuildに変更していただけないでしょうか？よろしくお願いします．

[2021-06-06 05:26] k-okada commented on #2743
Done

![Screenshot from 2021-06-06 14-25-49](https://user-images.githubusercontent.com/493276/120913604-27057400-c6d3-11eb-8ad2-3f3eb432cd73.png)

[2021-06-06 07:51] knorth55 commented on #2743
Thank you!!

[2021-06-07 14:55] #2743 closed

[2021-11-01 08:19] pazeshun opened #2754 "URDFのmaterialで名前衝突が起きている"
同じ名前のmaterialに、Baxter本体とグリッパで違う色を割り当ててしまっている。
- lightgrey
  - https://github.com/knorth55/baxter_common/blob/8addb7aae75aac55a1170df4eb7549771b3ff108/baxter_description/urdf/baxter_simple.urdf#L454-L456
  - https://github.com/start-jsk/jsk_apc/blob/4.3.0/jsk_arc2017_baxter/robots/left_gripper_v7.xacro#L105-L107
- blue
  - https://github.com/knorth55/baxter_common/blob/8addb7aae75aac55a1170df4eb754

[2022-01-08 16:21] knorth55 opened #2756 "move to GA"
we should move to Github Actions soon.